.wrapper-div {
    background: var(--primary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 30px;
    h1 {
        color: var(--text-color);
    }
    p {
        color: var(--text-color);
    }

    .custom-button-medium {
        margin-left: 1rem;
    }
}
