<div class="notification-container">
    <button class="notification-button" (click)="toggleNotifications()">
        <i *ngIf="notifications.length === 0" class="fa-solid fa-bell"></i>
        <div *ngIf="notifications.length > 0" class="notification-icon-container">
            <i class="fa-solid fa-bell"></i>
            <div class="notification-bubble"></div>
        </div>
    </button>
    <div class="dropdown-menu" [ngClass]="{ show: showNotifications }">
        <!-- Dropdown Header -->
        <div class="dropdown-header text-center">
            <strong>Notifications</strong>
        </div>
        <!-- <hr class="dropdown-divider" /> -->
        <!-- Liste des notifications -->
        <div *ngIf="notifications.length !== 0" class="notifications-container">
            <div *ngFor="let notification of notifications" class="notification-item">
                <div class="notification-content">
                    <div class="notification-text">
                        <p *ngIf="user && user.role === 'player'"><strong>Nouveau sondage disponible:</strong><br />{{ notification.title }}</p>
                        <p *ngIf="user && user.role === 'admin'"><strong>Sondage expiré:</strong><br />{{ notification.title }}</p>
                    </div>
                    <button *ngIf="user && user.role === 'player'" class="custom-button-medium" (click)="openPollAnswer(notification.poll)">
                        <i class="fa-solid fa-square-poll-horizontal"></i>
                    </button>
                    <button *ngIf="user && user.role === 'admin'" class="custom-button-medium" (click)="goToStats(notification.poll)">
                        <i class="fa-solid fa-square-poll-vertical"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Aucune notification -->
        <div *ngIf="notifications.length === 0" class="text-center no-notif">Aucune notification.</div>
    </div>
</div>
