<div class="notification-container">
    <button class="notification-button" (click)="toggleNotifications()">
        <i class="fa-solid fa-bell"></i>
    </button>
    <ul class="dropdown-menu" [ngClass]="{ show: showNotifications }">
        <!-- Dropdown Header -->
        <li class="dropdown-header text-center">
            <strong>Notifications</strong>
        </li>
        <hr class="dropdown-divider" />
        <!-- Liste des notifications -->
        <li *ngFor="let notification of notifications" class="notification-item">
            <div class="notification-content">
                <p *ngIf="user && user.role === 'player'"><strong>Nouveau sondage disponible:</strong><br />{{ notification.title }}</p>
                <p *ngIf="user && user.role === 'admin'"><strong>Sondage expiré:</strong><br />{{ notification.title }}</p>
                <br />
                <button *ngIf="user && user.role === 'player'" (click)="openPollAnswer(notification.poll)">Répondre au sondage</button>
                <button *ngIf="user && user.role === 'admin'" (click)="goToStats()">Voir les statistiques</button>
            </div>
        </li>
        <!-- Aucune notification -->
        <li *ngIf="notifications.length === 0" class="text-center text-muted">Aucune notification.</li>
    </ul>
</div>
