<div id="outerContainer">
    <div class="page-title">Jeux</div>
    <div class="outerQuizContainer" @zoomIn>
        <div class="quizContainer" *ngFor="let quiz of quizzes; trackBy: trackByFn; let i = index" @bounceOut>
            <span id="quizInfo"> {{ quiz.title + ' modifié le : ' + (quiz.lastModification | date: 'yyyy-MM-dd HH:mm:ss') }} </span> <br />
            <div class="buttonSection">
                <button id="delete" mat-icon-button (click)="delete(quiz.id)" matTooltip="Supprimer" matTooltipClass="custom-tooltip">
                    <i class="fa-solid fa-trash"></i>
                </button>
                <button id="edit" mat-icon-button (click)="goToEdit(quiz.id)" matTooltip="Modifier" matTooltipClass="custom-tooltip">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </div>
        </div>
    </div>
</div>
