@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

#outerContainer {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    height: calc(100% - 50px);
    width: 100%;
    padding: 30px;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color), var(--secondary-color));

    .page-title {
        display: flex;
        font-size: 3.5rem;
        height: 10%;
        align-items: center;
        justify-content: center;
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 1rem;
        color: var(--text-color);
        -webkit-text-stroke: 2px var(--primary-color);
        animation: glow 1.5s infinite alternate;
    }
}

.outerQuizContainer {
    position: relative;
    border-radius: 30px;
    height: 85%;
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    background: color-mix(in srgb, var(--primary-color) 50%, transparent);
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--tertiary-color) 80%, transparent);
    overflow-y: auto;
    .quizContainer {
        position: relative;
        width: 100%;
        min-height: 30%;
        background: color-mix(in srgb, var(--secondary-color) 20%, transparent);
        box-shadow: inset 0px 0px 10px color-mix(in srgb, var(--tertiary-color) 80%, transparent);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text-color);
        padding: 15px;
        border-radius: 15px;
        #quizInfo {
            width: 70%;
            height: 100%;
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
            align-items: center;
            line-height: 1.6;
        }

        .buttonSection {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 25%;
            height: 100%;

            button i {
                font-size: 1.5rem;
            }
        }
    }
}

.outerQuizContainer::-webkit-scrollbar {
    width: 4px;
    height: 95%;
    z-index: 999;
    margin-top: 30px;
    margin-bottom: 30px;
}

.outerQuizContainer::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.outerQuizContainer::-webkit-scrollbar-track {
    background: color-mix(in srgb, var(--secondary-color) 50%, transparent);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1px var(--tertiary-color);
    }
    100% {
        text-shadow: 0 0 25px var(--tertiary-color);
    }
}
