<div class="popup-container">
    <div class="popup-header">
        <h2 class="quiz-title">{{ data.quiz.title }}</h2>
        <button class="close-button" (click)="onClose()">X</button>
    </div>
    <div class="popup-content">
        <p class="quiz-description"><strong>Description:</strong> {{ data.quiz.description }}</p>
        <p class="quiz-time"><strong>Temps par question:</strong> {{ data.quiz.duration }} sec</p>
        <h3>Questions:</h3>
        <ol class="questions-list">
            <li *ngFor="let question of data.quiz.questions">
                <span>{{ question.text + ' : ' + question.type }}</span>
            </li>
        </ol>
        <div class="popup-actions">
            <button *ngIf="data.isCreate" class="custom-button-medium" (click)="openNewGame()">Créer une partie</button>
            <button *ngIf="!data.isCreate" class="custom-button-cancel-medium" (click)="onClose()">Revenir</button>
        </div>
    </div>
</div>
