<header class="main-header">
    <nav>
        <ul class="left-list">
            <img class="logo" src="assets/pictures/logo.png" />
            <li class="item-background-hover">Jouer</li>
            <li class="item-background-hover" routerLink="home" routerLinkActive="item-background-active">Home</li>
        </ul>

        <ul class="right-list">
            <li class="item-background-hover" routerLink="admin" routerLinkActive="item-background-active">Gerer quiz</li>
            <li class="item-background-hover" routerLinkActive="item-background-active">Inventaire</li>
            <li class="item-background-hover" routerLinkActive="item-background-active">Boutique</li>
            <li class="item-background-hover" routerLinkActive="item-background-active">Section chance</li>
            <li>10 coins</li>
        </ul>
    </nav>
</header>
