<header class="main-header">
    <nav>
        <ul class="left-list">
            <img class="logo" src="assets/pictures/logo.png" />
            <li class="item-background-hover end-category" routerLink="game-home" routerLinkActive="item-background-active">Jouer</li>
            <li class="item-background-hover" routerLink="home" routerLinkActive="item-background-active">Accueuil</li>
        </ul>

        <ul class="right-list">
            <li class="item-background-hover end-category" routerLinkActive="item-background-active">
                <i class="fa-solid fa-user"></i>
            </li>
            <li class="item-background-hover end-category" routerLink="quiz-question-management" routerLinkActive="item-background-active">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </li>
            <li class="item-background-hover" routerLinkActive="item-background-active">
                <i class="fa-solid fa-box-open"></i>
            </li>
            <li class="item-background-hover" routerLinkActive="item-background-active">
                <i class="fa-solid fa-sack-dollar"></i>
            </li>
            <li class="item-background-hover end-category" routerLink="luck" routerLinkActive="item-background-active">
                <i class="fa-solid fa-clover"></i>
            </li>
            <li>10 coins</li>
            <li>
                <button (click)="toggleTheme()">
                    <img src="https://fav.farm/🌙" alt="Dark mode" />
                    /
                    <img src="https://fav.farm/☀️" alt="Light mode" />
                </button>
            </li>
        </ul>
    </nav>
</header>
