.main-header {
    * {
        transition-duration: 0.1s;
    }
    width: calc(100vw - 380px);
    height: 100px;
    z-index: 4;
    position: fixed;

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: linear-gradient(
            to right,
            color-mix(in srgb, var(--tertiary-color), transparent 100%) 2%,
            var(--tertiary-color) 7%,
            var(--tertiary-color) 100%
        );
    }

    .logo {
        margin-left: 30px;
        height: 80px;
        width: auto;
    }

    nav {
        background: linear-gradient(to bottom, var(--nav-bg) 30%, color-mix(in srgb, var(--nav-bg), transparent 90%) 100%);
        color: var(--text-color);
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: space-between;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;

            li {
                height: 100%;
                display: flex;
                position: relative;
                font-size: var(--navbar-font-size);
                justify-content: center;
                align-items: center;
                padding: 10px 25px; // Adds internal spacing

                i {
                    font-size: 30px;
                }

                svg {
                    width: 40px;
                    height: 40px;
                    fill: var(--text-color);
                    transition-duration: 0.4s;
                }

                img {
                    width: 50px;
                }
            }
            .end-category::after {
                content: '';
                position: absolute;
                right: 0;
                top: 5%; /* Adjusts starting position */
                height: 90%; /* Makes the border 80% of the parent UL */
                width: var(--navbar-separator-size);
                background: linear-gradient(
                    to top,
                    #ffffff00 10%,
                    var(--text-color) 30%,
                    var(--text-color) 70%,
                    #ffffff00 90%
                ); /* Adjust color and opacity */
            }

            li:last-child {
                border-right: none; // Removes border from the last item
            }

            .divider {
                border-right: none; // Ensures the divider doesn't have extra borders
                font-weight: bold;
                padding: 0 10px;
            }
        }

        .left-list {
            li:first-child {
                border-right: none; // Removes border from the last item
            }
        }
    }
}

.item-background-active {
    background: linear-gradient(0deg, var(--active-bg) 0%, rgba(255, 255, 255, 0) 50%);
    cursor: pointer;
    transition-duration: 0.2s;

    a {
        color: var(--text-color) !important;
    }
}

.item-background-hover:hover {
    background: linear-gradient(0deg, var(--hover-bg) 0%, rgba(255, 255, 255, 0) 50%);
    cursor: pointer;
    transition-duration: 0.2s;
}
