<div id="main-wrapper">
    <div class="secondary-wrapper">
        <div class="cloud-background">
            <img class="x1 owl" src="assets/pictures/birds-create-game/light-blue-owl.png" />
            <img class="x2 owl" src="assets/pictures/birds-create-game/gold-owl.png" />
            <img class="x3 owl" src="assets/pictures/birds-create-game/jade-owl.png" />
            <img class="x4 owl" src="assets/pictures/birds-create-game/ruby-owl.png" />
            <img class="x6 owl" src="assets/pictures/birds-create-game/jade-owl.png" />
            <img class="x5 owl" src="assets/pictures/birds-create-game/sapphire-owl.png" />
        </div>
        <div id="quizlist">
            <div class="quizzes-list" role="list">
                <div class="quizContainer" *ngFor="let quiz of quizzes" (click)="openDialog(quiz)">
                    <h3>{{ quiz.title }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
