<div class="organizer-container">
    <div class="main-content-container">
        <div class="question-section">
            <div class="question-points">
                <div class="question-points-content">
                    <div>Points</div>
                    <div class="value">{{ question.points }}</div>
                </div>
            </div>
            <div class="question-text">
                <div class="question-text-content">
                    {{ question.text }}
                </div>

                <img *ngIf="this.question.image" [src]="this.question.image" alt="Question Image" />
            </div>
            <div class="timer">
                <div class="timer-content">
                    <div>Temps restant</div>
                    <div class="value">{{ timeLeft }}</div>
                </div>
            </div>
        </div>

        <div class="organizer-section">
            <div class="player-list-container">
                <app-player-list class="player-list"></app-player-list>
            </div>
            <div class="control-section">
                <div class="timer-button-section">
                    <div class="timer-button">
                        <button class="custom-button" *ngIf="gameStatus === 'correctionFinished'" (click)="nextQuestion()">Prochaine question</button>
                        <div *ngIf="gameStatus === 'organizerCorrecting'">Veuillez finir la correction avant de passer à la prochaine question.</div>
                        <div *ngIf="gameStatus === 'waitingForAnswers'">En attente des réponses des joueurs.</div>
                        <div *ngIf="gameStatus === 'waitingForNextQuestion'">La prochaine question s'affichera dans {{ timeLeft }} secondes.</div>
                        <button
                            class="custom-button"
                            (disabled)="(sentResults)"
                            *ngIf="gameStatus === 'gameFinished'"
                            (click)="showResults()"
                            [ngClass]="{ 'custom-button-disabled': sentResults }"
                        >
                            Afficher les réponses
                        </button>
                    </div>
                    <div class="control-timer-button-section">
                        <div class="button-container">
                            <button
                                class="custom-button"
                                [disabled]="gameStatus !== 'waitingForAnswers'"
                                [ngClass]="{ 'custom-button-disabled': gameStatus !== 'waitingForAnswers' }"
                                (click)="pauseGame()"
                            >
                                {{ gamePaused ? 'Reprendre' : 'Pause' }}
                            </button>
                        </div>
                        <div class="button-container">
                            <button
                                class="custom-button"
                                [disabled]="
                                    gameStatus !== 'waitingForAnswers' ||
                                    alertMode ||
                                    (questionType === 'QCM' && timeLeft <= 10) ||
                                    (questionType === 'QRE' && timeLeft <= 10) ||
                                    (questionType === 'QRL' && timeLeft <= 20)
                                "
                                [ngClass]="{
                                    'custom-button-disabled':
                                        gameStatus !== 'waitingForAnswers' ||
                                        alertMode ||
                                        (questionType === 'QCM' && timeLeft <= 10) ||
                                        (questionType === 'QRE' && timeLeft <= 10) ||
                                        (questionType === 'QRL' && timeLeft <= 20)
                                }"
                                (click)="startAlertMode()"
                            >
                                {{ alertMode && gameStatus !== 'waitingForNextQuestion' ? 'EN ALERTE' : 'Alerte' }}
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="question.type !== 'QRL'" class="info-section-qcm-qre">
                    <div
                        class="qcm-qre-content-logo"
                        [ngClass]="{
                            green: gameStatus === 'correctionFinished' || gameStatus === 'waitingForNextQuestion' || gameStatus === 'gameFinished'
                        }"
                    >
                        <div *ngIf="question.type !== 'QRL'" class="img-container">
                            <p class="question-type">{{ question.type }}</p>
                            <img class="logo" src="assets/pictures/logo.png" />
                            <p class="question-type">{{ question.type }}</p>
                        </div>
                    </div>
                    <div *ngIf="question.type === 'QCM'" class="qcm-content">
                        <div
                            *ngFor="let questionChoice of question.choices"
                            [ngClass]="questionChoice.isCorrect ? 'correct-choice' : 'incorrect-choice'"
                            class="multiple-choice"
                        >
                            <p>
                                {{ questionChoice.text }}
                            </p>
                        </div>
                    </div>
                    <div *ngIf="question.type === 'QRE' && question.qreAttributes" class="qre-content">
                        <div class="exact-value">Reponse exacte : {{ question.qreAttributes.goodAnswer }}</div>
                        <div class="lower-bound">Minimum<br />{{ question.qreAttributes.minBound }}</div>
                        <div class="margin">Marge<br />&plusmn;{{ question.qreAttributes.tolerance }}</div>
                        <div class="upper-bound">Maximum<br />{{ question.qreAttributes.maxBound }}</div>
                    </div>
                </div>
                <div
                    *ngIf="question.type === 'QRL'"
                    class="evaluation-section"
                    [ngClass]="{
                        green: gameStatus === 'correctionFinished' || gameStatus === 'waitingForNextQuestion' || gameStatus === 'gameFinished',
                        active: gameStatus === 'organizerCorrecting'
                    }"
                >
                    <div *ngIf="gameStatus !== 'organizerCorrecting' && question.type === 'QRL'" class="qcm-qre-content">
                        <img class="logo" src="assets/pictures/logo.png" />
                        <p class="question-type">{{ question.type }}</p>
                    </div>
                    <div *ngIf="question.type === 'QRL'" class="qrl-content">
                        <div *ngIf="question.type === 'QRL' && gameStatus === 'organizerCorrecting'" class="answer-details">
                            <div id="player">{{ playerBeingCorrected }}</div>
                            <div class="">Réponse:</div>
                            <div id="answer">
                                {{ answerBeingCorrected }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="question.type === 'QRL'" class="qrl-choices">
                        <ng-container *ngIf="gameStatus === 'organizerCorrecting'">
                            <div class="button-container first">
                                <button (click)="gradeAnswer(0)" class="custom-button">0 %</button>
                            </div>
                            <div class="button-container">
                                <button (click)="gradeAnswer(50)" class="custom-button">50 %</button>
                            </div>
                            <div class="button-container last">
                                <button (click)="gradeAnswer(100)" class="custom-button">100 %</button>
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                question.type === 'QRL' &&
                                (gameStatus === 'correctionFinished' || gameStatus === 'waitingForNextQuestion' || gameStatus === 'gameFinished')
                            "
                        >
                            <div class="button-container mid"></div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <button class="abandon-button custom-button-medium" (click)="abandonGame()">Abandonner</button>
    </div>
</div>
