@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.results-page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color), var(--secondary-color));
    overflow: hidden;
    padding-top: 100px;
    .page-container-wrapper {
        width: 100%;
        height: 100%;
        padding: 30px;

        .general-info-section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .player-list {
                display: flex;
                font-size: 3.5rem;
                height: 10%;
                align-items: center;
                justify-content: center;
                font-family: 'Orbitron', sans-serif;
                text-transform: uppercase;
                font-weight: 400;
                color: var(--text-color);

                animation: glow 1.5s infinite alternate;
            }

            .player-list-div {
                background: color-mix(in srgb, var(--primary-color) 50%, transparent);
                box-shadow: inset 0px 0px 10px color-mix(in srgb, var(--tertiary-color) 80%, transparent);
                overflow-y: auto;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5%;
                border-radius: 30px;
                padding: 30px;
                width: 60%;
                min-width: 650px;
                height: 80%;

                .player-info-section {
                    position: relative;
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: linear-gradient(
                        to right,
                        color-mix(in srgb, var(--secondary-color) 50%, transparent),
                        color-mix(in srgb, var(--primary-color) 50%, transparent),
                        color-mix(in srgb, var(--secondary-color) 50%, transparent)
                    );
                    border-radius: 30px;
                    padding: 0px 15px;
                    min-height: 20%;
                    box-shadow: 0px 0px 10px color-mix(in srgb, var(--tertiary-color) 80%, transparent);
                    color: var(--text-color);

                    p {
                        margin: 0px;
                    }

                    .reward.very-rare {
                        background: linear-gradient(135deg, #ffcc00 10%, #ff66ff 50%, #6600ff 90%);
                        box-shadow:
                            inset 0 0 10px rgba(255, 215, 0, 0.8),
                            inset 0 0 15px rgba(255, 105, 180, 0.5);
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        margin-right: 8%;
                    }

                    .reward.common {
                        background: var(--primary-color);
                        box-shadow: inset 0 0 15px var(--tertiary-color);
                        text-align: center;
                    }

                    &.crossed {
                        background: var(--primary-color);
                    }

                    .reward {
                        border-radius: 100%;
                        height: 80%;
                        aspect-ratio: 1/1;
                        background: var(--primary-color);
                        box-shadow: inset 0 0 10px var(--tertiary-color);
                        position: relative;
                        .item-img-coins {
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            svg {
                                height: 50%;
                                width: 50%;
                                fill: var(--text-color);
                            }
                        }

                        i {
                            height: 100%;
                            font-size: 2rem;
                            aspect-ratio: 1 / 1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            color: var(--text-color);
                            text-decoration: none !important;
                        }
                    }
                    .user-info {
                        position: relative;
                        display: flex;
                        width: 50%;
                        flex-direction: row;
                        height: 100%;
                        align-items: center;
                        gap: 3%;
                        color: var(--text-color);
                        .avatar {
                            border-radius: 100%;
                            height: 80%;
                            aspect-ratio: 1/1;
                            background: var(--primary-color);
                            box-shadow: inset 0 0 10px var(--tertiary-color);
                        }
                    }

                    &.first {
                        width: 95%;
                        background: linear-gradient(
                            to right,
                            color-mix(in srgb, var(--secondary-color) 75%, transparent),
                            color-mix(in srgb, var(--secondary-color) 50%, transparent),
                            color-mix(in srgb, var(--secondary-color) 75%, transparent)
                        );
                        box-shadow:
                            0px 0px 30px color-mix(in srgb, var(--secondary-color) 90%, transparent),
                            0px 0px 15px color-mix(in srgb, var(--tertiary-color) 60%, transparent);
                    }
                }
            }

            .player-list-div::-webkit-scrollbar {
                width: 4px;
                height: 95%;
                z-index: 999;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .player-list-div::-webkit-scrollbar-thumb {
                background: var(--tertiary-color);
                border-radius: 10px;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .player-list-div::-webkit-scrollbar-track {
                background: color-mix(in srgb, var(--secondary-color) 50%, transparent);
                border-radius: 10px;
                backdrop-filter: blur(5px);
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        #abandon-button {
            position: absolute;
            right: min(calc(5%), 100px);
            bottom: min(calc(5%), 100px);
            width: 100px;
        }
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1px var(--tertiary-color);
    }
    100% {
        text-shadow: 0 0 25px var(--tertiary-color);
    }
}
