<div class="container" (mouseenter)="toggleMove()" (mouseleave)="toggleMove()">
    <div class="presentation-div" [ngClass]="{ 'move-to-side': isMoved }">
        <div class="lootbox-image">Image link goes here {{ lootBoxContainer.image }}</div>
        <div class="price" [ngClass]="{ 'text-moved': isMoved }">{{ lootBoxContainer.price }} COINS</div>
    </div>
    <div class="interaction-div" [ngClass]="{ show: isMoved }">
        <div class="interaction-div-content">
            <div class="preview-items-wrapper">
                <div class="preview-items" onWheel="this.scrollLeft+=event.deltaY>0?25:-25">
                    <ng-container *ngFor="let reward of lootBoxContainer.rewards; let i = index; let last = last">
                        <div
                            class="item"
                            [ngClass]="{
                                'very-rare': reward.rarity === rewardRarity.VeryRare,
                                rare: reward.rarity === rewardRarity.Rare,
                                common: reward.rarity === rewardRarity.Common
                            }"
                        >
                            <div *ngIf="reward.type === rewardType.Theme" class="item-img">{{ reward.value }}</div>
                            <div *ngIf="reward.type !== rewardType.Theme" class="item-img">Item-Link{{ reward.value }}</div>
                            <div class="item-chances">{{ reward.odds }}%</div>
                        </div>
                        <div *ngIf="!last" class="divider"></div>
                    </ng-container>
                </div>
            </div>
            <div class="section-divider"></div>
            <div class="buy-zone-wrapper">
                <div class="buy-zone">
                    <button class="custom-button-medium" (click)="openFunction(id)">Ouvrir pour {{ lootBoxContainer.price }} coins</button>
                </div>
            </div>
        </div>
    </div>
</div>
