<div class="poll-page-container">
    <div class="poll-page-content">
        <div id="outerContainer">
            <div class="outerPollContainer" @zoomIn>
                <h1>Sondages</h1>
                <div id="innerContainer">
                    <div class="pollPublishedContainer" *ngFor="let publishedPoll of publishedPolls; trackBy: trackByFn; let i = index" @bounceOut>
                        <span id="publishedPollInfo" style="color: red;">
                            <span id="publishedPollInfo"> {{ publishedPoll.title }} Date d'expiration: {{ publishedPoll.endDate | date: 'yyyy-MM-dd HH:mm' }} Date de publication: {{ publishedPoll.publicationDate | date: 'yyyy-MM-dd HH:mm' }}</span>
                        </span>
                        <button class="publish" mat-icon-button matTooltip="Consulter le sondage" (click)="consultPoll(publishedPoll)">
                            <i class="fa-solid fa-clipboard-question"></i>
                        </button>
                    </div>
                    <div class="pollContainer" *ngFor="let poll of polls; trackBy: trackByFn; let i = index" @bounceOut>
                        <span id="pollInfo"> {{ poll.title }}</span>
                        <button *ngIf="!poll.isPublished" id="delete" mat-icon-button (click)="delete(poll.id)" matTooltip="Supprimer">
                            <mat-icon [ngStyle]="{ color: 'white' }">delete</mat-icon>
                        </button>
                        <button *ngIf="!poll.isPublished" id="edit" mat-icon-button (click)="goToEdit(poll.id)" matTooltip="Modifier">
                            <mat-icon [ngStyle]="{ color: 'white' }">edit_square</mat-icon>
                        </button>
                        <button class="publish" mat-icon-button matTooltip="Consulter le sondage" (click)="consultPoll(poll)">
                            <i class="fa-solid fa-clipboard-question"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
