<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="inventory">
            <h1>Inventaire</h1>
            <div class="inventory-content">
                <div class="inventory-section">
                    <div class="section-title">Avatars</div>
                    <div class="grid">
                        <div class="square">Avatar1</div>
                        <div class="square">Avatar2</div>
                        <div class="square">Avatar3</div>
                        <div class="square">Avatar1</div>
                        <div class="square">Avatar2</div>
                        <div class="square">Avatar3</div>
                        <div class="square">Avatar1</div>
                        <div class="square">Avatar2</div>
                        <div class="square">Avatar3</div>
                        <div class="square">Avatar1</div>
                        <div class="square">Avatar2</div>
                        <div class="square">Avatar3</div>
                        <!-- Add more avatars -->
                    </div>
                </div>

                <div class="inventory-section">
                    <div class="section-title">Bordure d'avatar</div>
                    <div class="grid">
                        <div class="square">Border1</div>
                        <div class="square">Border2</div>
                        <div class="square">Border3</div>
                        <div class="square">Border1</div>
                        <div class="square">Border2</div>
                        <div class="square">Border3</div>
                        <div class="square">Border1</div>
                        <div class="square">Border2</div>
                        <div class="square">Border3</div>
                        <div class="square">Border1</div>
                        <div class="square">Border2</div>
                        <div class="square">Border3</div>
                        <div class="square">Border1</div>
                        <div class="square">Border2</div>
                        <div class="square">Border3</div>
                        <!-- Add more borders -->
                    </div>
                </div>

                <div class="inventory-section">
                    <div class="section-title">Thèmes de couleur</div>
                    <div class="grid">
                        <div class="square">Theme1</div>
                        <div class="square">Theme2</div>
                        <div class="square">Theme3</div>
                        <!-- Add more themes -->
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-item">
            <div class="selected"><div>Preview of selected avatar/banner/theme</div></div>
            <button class="custom-button-big">Équiper</button>
        </div>
    </div>
</div>
