<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="inventory">
            <h1>Inventaire</h1>
            <div class="inventory-content">
                <div class="inventory-section">
                    <div class="section-title">Avatars</div>
                    <div class="grid">
                        <div *ngFor="let avatar of avatars" class="square" (click)="selectAvatar(avatar)">
                            <img [src]="avatar" alt="avatar" class="square-avatar" />
                        </div>
                        <!-- Add more avatars -->
                        <p *ngIf="avatars.length === 0">Vous n'avez pas d'avatars obtenus, allez-en obtenir dans la boutique ou dans les lootbox!</p>
                    </div>
                </div>

                <div class="inventory-section">
                    <div class="section-title">Bordure d'avatar</div>
                    <div class="grid">
                        <div *ngFor="let banner of banners" class="square" (click)="selectBanner(banner)">
                            <img [src]="banner" alt="avatar" class="square-banner" />
                        </div>
                        <p *ngIf="banners.length === 0">
                            Vous n'avez pas de bannières obtenues, allez-en obtenir dans la boutique ou dans les lootbox!
                        </p>
                        <!-- Add more borders -->
                    </div>
                </div>

                <div class="inventory-section">
                    <div class="section-title">Thèmes de couleur</div>
                    <div class="grid">
                        <div *ngFor="let theme of themes" class="square" (click)="selectTheme(theme)">{{ theme }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-item">
            <div class="selected">
                <app-avatar-banner
                    *ngIf="this.currentTheme === '' && (this.currentAvatar !== '' || this.currentBanner !== '')"
                    class="avatar"
                    [avatarUrl]="this.currentAvatar"
                    [bannerUrl]="this.currentBanner"
                ></app-avatar-banner>
                <div *ngIf="this.currentTheme !== ''" [attr.data-theme]="currentTheme" class="theme-preview">
                    <div class="primary" style="background-color: var(--primary-color); color: var(--text-color)">Couleur primaire</div>
                    <div class="primary" style="background-color: var(--secondary-color); color: var(--text-color)">Couleur secondaire</div>
                    <div class="primary" style="background-color: var(--tertiary-color); color: var(--primary-color)">Couleur tertiaire</div>
                    <div class="accents">
                        <div style="background-color: var(--nav-bg); color: var(--text-color)">Accent sur la barre</div>
                        <div style="background-color: var(--hover-bg); color: white">Accent onglet survolé</div>
                        <div style="background-color: var(--active-bg); color: white">Accent onglet actif</div>
                    </div>
                </div>
                <p *ngIf="!canEquip && !waitingForServerEquip">
                    Veuillez sélectionner un avatar, une bordure d'avatar ou bien un thème pour la prévoir avant de l'équiper.
                </p>
                <p *ngIf="!canEquip && waitingForServerEquip">En attente de synchronisation des données avec le serveur.</p>
            </div>
            <button
                [ngClass]="{
                    'custom-button-big': canEquip,
                    'custom-button-big-disabled': !canEquip
                }"
                (click)="equip()"
            >
                {{ !canEquip ? 'En attente de choix' : 'Équiper' }}
            </button>
        </div>
    </div>
</div>
