.background-image {
    background-image: url('../../../../assets/pictures/welcome-page-bg.webp'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
}
