<div class="page-wrapper">
    <div class="pity">Pity is : 0</div>
    <div class="content-wrapper">
        <app-loot-box class="loot-box"></app-loot-box>
        <app-loot-box class="loot-box"></app-loot-box>
        <app-loot-box class="loot-box"></app-loot-box>
        <app-loot-box class="loot-box"></app-loot-box>
        <app-loot-box class="loot-box"></app-loot-box>
        <app-loot-box class="loot-box"></app-loot-box>
        <app-loot-box class="loot-box"></app-loot-box>
    </div>
</div>
