<div id="component-overflow-container">
    <div class="main-wrapper">
        <header class="header">
            <div class="x1">
                <div class="cloud"></div>
            </div>
            <div class="x3">
                <div class="cloud"></div>
            </div>
            <div class="x2">
                <div class="cloud"></div>
            </div>
        </header>
    </div>
    <img class="clouds-bottom cloud1" src="assets/pictures/clouds-main-page/clouds-dark-blue-layer.png" />
    <div class="x4">
        <div class="cloud"></div>
    </div>
    <div class="x5">
        <div class="cloud"></div>
    </div>
    <img class="clouds-bottom cloud2" src="assets/pictures/clouds-main-page/clouds-blue-layer.png" />
    <img class="clouds-bottom cloud3" src="assets/pictures/clouds-main-page/clouds-light-blue-layer.png" />
    <img class="clouds-bottom cloud4" src="assets/pictures/clouds-main-page/clouds-white-layer.png" />
    <footer class="footer-item">
        <h4 class="team-number">Équipe 210</h4>
        <p class="team-members">
            <span>Zekaria Bouchama</span>, <span>Amélie Boudjellab</span>, <span>Sidali Boukhezar</span>, <span>Mina-Marius Mihaila</span>,
            <span>Samyar Janatian</span>, <span>Elias Zidane</span>
        </p>
    </footer>
    <div class="feature-content">
        <div class="main-nav">
            <div class="nav-elements-wrapper">
                <div
                    *ngFor="let item of navInfo; let i = index"
                    class="nav-element"
                    (click)="setActiveSlideIndex(i)"
                    [ngClass]="{
                        'item-background-active': activeSlideIndex === i,
                        'item-background-hover': hoverIndex === i && activeSlideIndex !== i
                    }"
                    (mouseenter)="hoverIndex = i"
                    (mouseleave)="hoverIndex = -1"
                >
                    <div class="nav-element-title">{{ item.title }}</div>
                </div>
            </div>
        </div>
        <div class="vertical-divider"></div>
        <div class="info-container">
            <div class="info-section">
                <h1 class="title">{{ this.navInfo[activeSlideIndex].title }}</h1>
                <div class="info-description">{{ this.navInfo[activeSlideIndex].description }}</div>
            </div>
            <div class="screenshot-with-links-diagram">
                <ng-container *ngFor="let screenshot of navInfo[activeSlideIndex].screenshots; let i = index">
                    <ng-container *ngIf="screenshot.image; else textContent">
                        <img
                            #img
                            class="img"
                            [src]="'assets/home-page-screenshots/' + screenshot.image"
                            alt="Screenshot {{ i + 1 }}"
                            [ngClass]="{ first: i === 0, second: i === 1, third: i === 2 }"
                            [style.top.%]="calculateTopPosition(i, navInfo[activeSlideIndex].screenshots.length)"
                            [style.right]="calculateRightPosition(i, navInfo[activeSlideIndex].screenshots.length)"
                            [style.width.%]="calculateImageWidth(navInfo[activeSlideIndex].screenshots.length)"
                            (click)="navigate(screenshot.route)"
                        />
                    </ng-container>
                    <ng-template #textContent>
                        <div
                            class="screenshot"
                            [ngClass]="{ first: i === 0, second: i === 1, third: i === 2 }"
                            [style.top.%]="calculateTopPosition(i, navInfo[activeSlideIndex].screenshots.length)"
                            [style.right]="calculateRightPosition(i, navInfo[activeSlideIndex].screenshots.length)"
                            [style.height.%]="calculateHeight(navInfo[activeSlideIndex].screenshots.length)"
                            (click)="navigate(screenshot.route)"
                        >
                            {{ 'screenshot ' + (i + 1) }}
                        </div>
                    </ng-template>
                    <div
                        class="button-and-line"
                        [style.width]="calculateRightPosition(i, navInfo[activeSlideIndex].screenshots.length)"
                        [ngClass]="{ first: i === 0, second: i === 1, third: i === 2 }"
                        [style.top]="
                            'calc(' +
                            calculateTopPosition(i, navInfo[activeSlideIndex].screenshots.length) +
                            '% + ' +
                            calculateHeight(navInfo[activeSlideIndex].screenshots.length) / 2 +
                            '% - 25px)'
                        "
                    >
                        <div class="line"></div>
                        <button #button class="custom-button-medium" (click)="navigate(screenshot.route)">
                            {{ screenshot.buttonDescription }}
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
