@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
//https://codepen.io/Mark_Bowley/pen/LYZEBq source utilisee pour les nuages
$primary-color: #00115a;
$secondary-color: #000000;
$text-color: #000000;
$light-color: #fff;
html,
body {
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
}
#component-overflow-container {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color), var(--secondary-color));
}
body {
    background: #00b4ff;
    color: #333;
    font:
        100% Arial,
        Sans Serif;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        left: -800px;
    }
    100% {
        left: calc(110%);
    }
}

@-moz-keyframes animateCloud {
    0% {
        left: -800px;
    }
    100% {
        left: calc(110%);
    }
}

@keyframes animateCloud {
    0% {
        left: -800px;
    }
    100% {
        left: calc(110%);
    }
}

/* ANIMATIONS */

.x1,
.x2,
.x3,
.x4,
.x5 {
    position: absolute;
}
.x1 {
    -webkit-animation: animateCloud 50s linear infinite;
    -moz-animation: animateCloud 50s linear infinite;
    animation: animateCloud 50s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

.x2 {
    -webkit-animation: animateCloud 38s linear infinite;
    -moz-animation: animateCloud 38s linear infinite;
    animation: animateCloud 38s linear infinite;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    margin-bottom: 300px;
}

.x3 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    margin-top: 220px;
}

.x4 {
    -webkit-animation: animateCloud 50s linear infinite;
    -moz-animation: animateCloud 50s linear infinite;
    animation: animateCloud 50s linear infinite;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);

    bottom: 15%;
    z-index: 8;
}

.x5 {
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;

    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
    bottom: 100px;
    z-index: 10;
}

/* OBJECTS */

.cloud {
    background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: linear-gradient(to top, #fff 5%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

    height: 120px;
    position: relative;
    width: 350px;
}
.x1 > .cloud {
    background: #ffc353;
}
.x1 > .cloud:after {
    background: #ffc353;
}
.x1 > .cloud:before {
    background: #ffc353;
}

.x2 > .cloud {
    background: #006db6;
}
.x2 > .cloud:after {
    background: #006db6;
}
.x2 > .cloud:before {
    background: #006db6;
}

.x3 > .cloud {
    background: #006bf7;
}
.x3 > .cloud:after {
    background: #006bf7;
}
.x3 > .cloud:before {
    background: #006bf7;
}

.x4 > .cloud {
    background: #0bdb96;
}
.x4 > .cloud:after {
    background: #0bdb96;
}
.x4 > .cloud:before {
    background: #0bdb96;
}

.x5 > .cloud {
    background: #ff9b58;
}
.x5 > .cloud:after {
    background: #ff9b58;
}
.x5 > .cloud:before {
    background: #ff9b58;
}

.cloud:after,
.cloud:before {
    filter: blur(4px);
    content: '';
    position: absolute;
    z-index: 2;
}
.cloud {
    filter: blur(4px);
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;

    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Lato;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    background: #ececec;
    box-sizing: border-box;
}

.header {
    height: 90vh;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 6;
}

.logo-container {
    position: relative;
    top: 3rem;
    left: 4rem;
    display: inline-block;
}

.feature-content {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(90% - 100px);
    padding: 2rem;
    z-index: 999;
    display: flex;
    flex-direction: row;
    .main-nav {
        height: 100%;
        position: relative;
        width: 20%;

        .nav-elements-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 1rem;
            gap: 8px;
            .nav-element {
                display: flex;
                justify-content: left;
                align-items: center;
                height: 50px;
                width: 100%;
                border-radius: 5px;
                position: relative;
                cursor: pointer;

                .nav-element-title {
                    padding-left: 1rem;
                    color: var(--text-color);
                }
            }
            .item-background-hover:hover {
                background: linear-gradient(to right, var(--hover-bg) 0%, rgba(255, 255, 255, 0) 50%);
                cursor: pointer;
                transition-duration: 0.2s;
            }
            .item-background-active {
                background: linear-gradient(to right, var(--active-bg) 0%, rgba(255, 255, 255, 0) 50%);
                cursor: pointer;
                transition-duration: 0.2s;

                a {
                    color: var(--text-color) !important;
                }
            }

            .nav-element:not(:last-child)::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -5px;
                width: 100%;
                height: var(--navbar-separator-size); /* Makes the border 80% of the parent UL */
                background: linear-gradient(
                    to right,
                    #ffffff00 3%,
                    var(--tertiary-color) 10%,
                    var(--tertiary-color) 90%,
                    #ffffff00 97%
                ); /* Adjust color and opacity */
            }
        }
    }

    .vertical-divider {
        height: 100%; /* Makes the border 80% of the parent UL */
        width: var(--navbar-separator-size);
        background: linear-gradient(
            to top,
            #ffffff00 1%,
            var(--tertiary-color) 5%,
            var(--tertiary-color) 95%,
            #ffffff00 99%
        ); /* Adjust color and opacity */
    }

    .info-container {
        width: 80%;
        height: 100%;
        position: relative;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .info-section {
            width: 100%;
            height: 20%;
            color: var(--text-color);
        }

        .screenshot-with-links-diagram {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: right;
            position: relative;

            .screenshot,
            .button-and-line,
            img {
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &.first {
                    top: 0;
                    z-index: 3; // Highest z-index
                }

                &.second {
                    top: 40%;
                    z-index: 2; // Middle z-index
                }

                &.third {
                    top: 70%;
                    z-index: 1; // Lowest z-index
                }
            }

            .screenshot {
                height: 100%;
                aspect-ratio: 16 / 9;
                background: rgba(0, 0, 0, 0.507);
                z-index: 10000;
                padding: 0px;
                justify-content: center;
                align-items: center;
                &:hover {
                    cursor: pointer;
                }
            }
            .img {
                aspect-ratio: 16 / 9;
                justify-self: center;
                z-index: 10000;
                &:hover {
                    cursor: pointer;
                }
            }

            .custom-button-medium {
                min-width: 200px;
                z-index: 9999;

                &:hover ~ .line {
                    background-color: var(--secondary-color);
                }
            }

            .line {
                height: 3px;
                z-index: 9998;
                background-color: var(--tertiary-color);
                transition: background-color 0.2s;
                flex-grow: 1;
            }

            .img,
            .line,
            button {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.644); // Add a little black shadow on all borders
            }
        }
    }
}

.main-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translatex(-100px);
    }
    80% {
        transform: translatex(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translatex(100px);
    }
    80% {
        transform: translatex(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.clouds-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 350px;
    width: 100%;
    z-index: 10;
}

.cloud1 {
    filter: blur(3px);
    z-index: 8;
}

.cloud2 {
    filter: blur(2px);
    z-index: 9;
}

.cloud3 {
    filter: blur(1px);
}

.footer-team {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0px;
    min-height: 15%;
    text-align: center;
    z-index: 15;
    background: color-mix(in srgb, var(--primary-color) 75%, transparent);
    text-shadow: 0 0 2px var(--secondary-color);
    color: var(--text-color);
    box-shadow: inset 0px 0px 10px color-mix(in srgb, var(--tertiary-color) 80%, transparent);
    border-radius: 30px 30px 0px 0px;
    padding-right: 30px;
    padding-left: 30px;
    h4.team-number {
        padding-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
}
