<div class="page-wrapper">
    <app-header-game [title]="title"></app-header-game>
    <img id="owl-image" src="assets/pictures/button-owl.png" />
    <div class="split-container">
        <div *ngIf="!gameIdValidated" class="left-container">
            <div *ngIf="wrongPin" class="wrong-input">
                <p>{{ popUpMessage }}</p>
            </div>

            <form (ngSubmit)="validGameId()" #accessForm="ngForm">
                <h1>Code d'accès à la partie</h1>
                <label for="gamePin"></label>
                <input
                    id="gamePin"
                    type="text"
                    name="gamePin"
                    [(ngModel)]="gameId"
                    required
                    inputmode="numeric"
                    pattern="[0-9]*"
                    minlength="4"
                    maxlength="4"
                    placeholder="0000"
                    autofocus
                />
                <div *ngIf="accessForm.invalid" class="text-danger">*Le code d'accès doit comporter 4 chiffres.</div>
                <div class="buttons">
                    <button
                        id="homebutton"
                        type="button"
                        class="btn custom-width custom-button-cancel login-back-button"
                        (click)="redirectToPage('/home')"
                    >
                        Retour
                    </button>
                    <button id="submit" type="submit" class="btn custom-width custom-button" [disabled]="accessForm.invalid">Joindre</button>
                </div>
            </form>
        </div>
        <div *ngIf="!gameIdValidated" class="right-container">
            <div *ngFor="let lobby of lobbys; let i = index">
                <span> {{ lobby.title }} </span>
                <span> {{ ' Nombre de joueurs : ' + lobby.nbPlayers }} </span><br />
                <button
                    id="submit"
                    type="button"
                    class="btn custom-width custom-button"
                    [disabled]="lobby.isLocked"
                    (click)="validGameId(lobby.roomId)"
                >
                    Joindre
                </button>
            </div>
        </div>
    </div>
</div>
