<div class="page-wrapper">
    <img id="owl-image" src="assets/pictures/button-owl.png" />
    <div *ngIf="!gameIdValidated" class="pin-valid-container">
        <div *ngIf="wrongPin" class="wrong-input">
            <p>{{ popUpMessage }}</p>
        </div>
        <div class="outerContainer">
            <form (ngSubmit)="validGameId()" #accessForm="ngForm">
                <h1>Code d'accès à la partie</h1>
                <label for="gamePin"></label>
                <input
                    id="gamePin"
                    type="text"
                    name="gamePin"
                    [(ngModel)]="gameId"
                    required
                    inputmode="numeric"
                    pattern="[0-9]*"
                    minlength="4"
                    maxlength="4"
                    placeholder="0000"
                    autofocus
                />
                <div *ngIf="accessForm.invalid" class="text-danger">*Le code d'accès doit comporter 4 chiffres.</div>
                <div class="buttons">
                    <!-- <button id="homebutton" type="button" class="custom-button-cancel-medium" (click)="redirectToPage('/home')">Retour</button> -->
                    <button id="submit" type="submit" class="custom-button-medium" [disabled]="accessForm.invalid">Joindre</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="gameIdValidated" class="pin-valid-container">
        <div *ngIf="wrongPin" class="wrong-input">
            <p>{{ popUpMessage }}</p>
        </div>
        <div class="outerContainer">
            <form (ngSubmit)="joinGame()">
                <h1>Entrez votre nom de joueur</h1>
                <label for="playerName"></label>
                <input #playerNameField id="playerName" type="text" maxlength="20" name="playerName" [(ngModel)]="playerName" required />
                <h3>maximum de 20 caractères</h3>
                <div class="buttons">
                    <button id="homebutton" type="button" class="custom-button-cancel login-back-button" (click)="redirectToGameAcces()">
                        Retour
                    </button>

                    <button type="submit" class="custom-button">Allons-y !</button>
                </div>
            </form>
        </div>
    </div>
</div>
