<div class="question-panel">
    <mat-expansion-panel
        hideToggle
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        [expanded]="expanded"
        [disabled]="expansionPanelDisabled"
    >
        <mat-expansion-panel-header
            [class.expanded-panel]="expanded"
            [ngClass]="{ qcm: question.type === 'QCM', qrl: question.type === 'QRL', qre: question.type === 'QRE' }"
        >
            <mat-panel-title>
                <i
                    class="fa-solid question-type-icon"
                    [ngClass]="{
                        'fa-list-check': question.type === 'QCM',
                        'fa-keyboard': question.type === 'QRL',
                        'fa-circle-dot': question.type === 'QRE'
                    }"
                ></i>
                {{ question.lastModified | date: 'yyyy-MM-dd HH:mm:ss' }}
            </mat-panel-title>

            <mat-icon *ngIf="!panelOpenState">more_vert</mat-icon>
            <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            <mat-panel-description>
                {{ question.text }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="custom-panel-body">
            <ng-template #viewMode>
                <div class="question">
                    <div class="question-and-score">
                        <p>Question : {{ question.text }}</p>
                        <p>Score : {{ question.points }} pts</p>
                    </div>
                    <p *ngIf="question.type === 'QCM'">Réponses :</p>
                    <ul class="answer-choices">
                        <li *ngFor="let choice of question.choices; let i = index">
                            {{ choice.text }} <mat-icon class="choice-check" *ngIf="choice.isCorrect">check</mat-icon>
                        </li>
                    </ul>
                </div>
                <div class="buttons">
                    <button class="custom-button custom-width" (click)="saveQuestionOnEdit()"><mat-icon>edit</mat-icon></button>
                    <button class="custom-button custom-width" (click)="deleteQuestion()"><mat-icon>delete</mat-icon></button>
                </div>
            </ng-template>

            <ng-container *ngIf="isEditMode; else viewMode">
                <div class="custom-panel-container">
                    <app-question-form [question]="question" [showButton]="false" (emptyQuestion)="emptyQuestion($event)"></app-question-form>
                    <div class="buttons">
                        <button *ngIf="!expanded" class="custom-button" (click)="cancelEdit()">Annuler</button>
                        <button *ngIf="!expanded" [disabled]="!validQuestion()" class="custom-button" (click)="modifyQuestion()">
                            Modifier la question
                        </button>
                        <button *ngIf="expanded" class="custom-button" (click)="cancelAdd()">Annuler</button>
                        <button *ngIf="expanded" class="custom-button" (click)="addQuestion()" [disabled]="!validQuestion()">
                            Ajouter la question
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </mat-expansion-panel>
</div>
