$primary-color: #00115a;
$modified-primary-color: green;
$second-color: green;
$qrl-color: #f0c33b;
// $question-qcm-color: #198038;
$question-qcm-color: #2a9152;
$question-qre-color: rgba(141, 163, 255);
$question-qcm-color-hover: #125d29;
$question-qrl-color: #194e80;
$question-qrl-color-hover: #15395b;

.question-panel {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--tertiary-color);
    mat-expansion-panel {
        padding: 0px;
        &:not(.mat-expanded):hover {
            mat-expansion-panel-header {
                mat-icon {
                    font-size: 25px;
                }
            }
        }

        background: radial-gradient(ellipse 130% 80% at bottom, var(--secondary-color) 0%, var(--primary-color) 40%);
        color: var(--text-color);

        mat-expansion-panel-header {
            position: relative;
            color: white;
            border: 3px solid var(--tertiary-color);
            border-radius: 5px;
            margin-right: 0;
            display: flex;
            justify-content: flex-start;
            padding: 30px 10px;
            height: 100%;
            width: 100%;

            mat-panel-title {
                margin-left: 10px;
                font-weight: bold;
                font-size: medium;
                color: white;
            }

            mat-panel-description {
                font-size: medium;
                margin-top: 5px;
                color: white;
                overflow-y: auto;
                height: 100%;
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 95%;
                    z-index: 999;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--tertiary-color);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: color-mix(in srgb, var(--secondary-color) 50%, transparent);
                    border-radius: 10px;
                    backdrop-filter: blur(5px);
                }
            }

            mat-icon {
                font-size: x-large;
                margin-right: 8px;
                align-items: center;
            }
        }
        transition: all 0.2s ease-in-out;

        mat-expansion-panel-header.qcm {
            background: $question-qcm-color;
        }

        mat-expansion-panel-header.qre {
            background: $question-qre-color;
        }

        mat-expansion-panel-header.qrl {
            background: $question-qrl-color;
        }
    }

    transition: all 0.2s ease-in-out;
}

.question-type-icon {
    font-size: 20px;
    margin-right: 20px;
}

.question-and-score {
    display: flex;
    justify-content: space-between;
}

.question {
    font-size: large;
    margin-top: 15px;
}

.answer-choices {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: large;
}

button {
    transition: transform 0.3s ease;
    padding: 0.75rem;
    &:hover {
        transform: scale(1.1);
    }
}

.custom-button {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.expanded-panel {
    cursor: default;
}

.choice-check {
    color: green;
    font-weight: bolder;
}
