<div class="login-container">
    <h2 class="text-center mb-4">Connexion</h2>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- email or Username Field -->
        <div class="form-group mb-3">
            <label for="identifier" class="form-label">Email ou Pseudonyme</label>
            <input id="identifier" type="text" placeholder="Entrez votre email ou pseudonyme" formControlName="identifier" class="form-control" />
            <small
                *ngIf="
                    loginForm.get('identifier')?.invalid && loginForm.get('identifier')?.touched && !loginForm.get('identifier')?.hasError('pattern')
                "
                class="text-danger"
            >
                Ce champ est requis.
            </small>
            <small *ngIf="loginForm.get('identifier')?.hasError('pattern') && loginForm.get('identifier')?.touched" class="text-danger">
                Veuillez entrer une adresse d’identifiant valide.
            </small>
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input id="password" type="password" placeholder="Entrez votre mot de pass" formControlName="password" class="form-control" />
            <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                Le mot de passe est requis.
            </small>
        </div>

        <!-- Submit Button -->
        <div class="form-group position-relative">
            <button type="submit" [disabled]="loginForm.invalid || isSubmitting" class="btn btn-primary w-100">Login</button>
            <div
                *ngIf="isSubmitting"
                class="spinner-border text-light position-absolute bottom-0 end-0"
                style="width: 1.5rem; height: 1.5rem"
                role="status"
            >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </form>

    <!-- Sign Up Link -->
    <p class="text-center mt-3">
        Vous n'avez pas de compte ?
        <a [routerLink]="'/signup'">Inscrivez-vous</a>
    </p>

    <!-- Forgot Password Link -->
    <p class="text-center">
        Mot de passe oublié ?
        <a [routerLink]="'/forgot-password'">Réinitialiser mon mot de passe</a>
    </p>

    <!-- Divider -->
    <hr />
    <p class="divider-text text-center">or</p>

    <!-- Google Login -->
    <button
        [disabled]="isSubmitting"
        (click)="loginWithGoogle()"
        class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center"
    >
        <div class="d-flex align-items-center gap-2">
            <span class="iconify" data-icon="logos:google-icon" style="font-size: 20px"></span>
            <span>Se connecter avec Google</span>
        </div>
    </button>
</div>
