<div class="page-container">
    <div class="table-container">
        <mat-paginator
            class="paginator"
            [length]="dataSource.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15]"
            [showFirstLastButtons]="true"
            aria-label="Select page of games"
        >
        </mat-paginator>
        <div class="table-wrapper">
            <table class="responsive-table" aria-label="Elements">
                <thead @slideDown>
                    <tr>
                        <th>
                            <div class="header-column">
                                Nom du jeu
                                <button
                                    mat-icon-button
                                    (click)="sortData('name', 'asc')"
                                    [ngClass]="{ 'active-sort': isSorted('name', 'asc') }"
                                    matTooltip="tri en ordre ascendant"
                                    matTooltipClass="custom-tooltip"
                                >
                                    <i class="fa-sharp fa-solid fa-arrow-up"></i>
                                </button>
                                <button
                                    mat-icon-button
                                    (click)="sortData('name', 'desc')"
                                    [ngClass]="{ 'active-sort': isSorted('name', 'desc') }"
                                    matTooltip="tri en ordre descendant"
                                    matTooltipClass="custom-tooltip"
                                >
                                    <i class="fa-solid fa-arrow-down"></i>
                                </button>
                            </div>
                        </th>
                        <th>
                            <div class="header-column">
                                Date et Heure
                                <button
                                    mat-icon-button
                                    (click)="sortData('startingDate', 'asc')"
                                    matTooltip="tri en ordre ascendant"
                                    matTooltipClass="custom-tooltip"
                                    [ngClass]="{ 'active-sort': isSorted('startingDate', 'asc') }"
                                >
                                    <i class="fa-sharp fa-solid fa-arrow-up"></i>
                                </button>
                                <button
                                    mat-icon-button
                                    (click)="sortData('startingDate', 'desc')"
                                    [ngClass]="{ 'active-sort': isSorted('startingDate', 'desc') }"
                                    matTooltip="tri en ordre descendant"
                                    matTooltipClass="custom-tooltip"
                                >
                                    <i class="fa-solid fa-arrow-down"></i>
                                </button>
                            </div>
                        </th>
                        <th>Nombre de Joueurs</th>
                        <th>Meilleur Score</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataSource.data.length; else noGames" @fadeInStagger>
                    <tr *ngFor="let game of dataSource.connect() | async; let i = index" class="table-row">
                        <td data-label="Nom du jeu">{{ game.name }}</td>
                        <td data-label="Date et Heure">{{ game.startingDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td data-label="Nombre de Joueurs">{{ game.playersNumber }}</td>
                        <td data-label="Meilleur Score">{{ game.bestScore }}</td>
                    </tr>
                </tbody>
                <ng-template #noGames>
                    <tr *ngIf="firstFetch">
                        <td colspan="4 " class="text-center empty-history">L'historique est vide pour le moment</td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
    <div class="delete-button-container">
        <button class="btn btn-danger delete-button" (click)="cleanHistory()">Supprimer l'historique<i class="fas fa-trash"></i></button>
    </div>
</div>
