<div class="sign-up-container">
    <h2 class="text-center mb-4">Sign Up</h2>

    <form [formGroup]="signUpForm">
        <!-- Username Field -->
        <div class="form-group mb-3">
            <label for="username" class="form-label">Username</label>
            <input
                id="username"
                type="text"
                placeholder="Enter your username"
                formControlName="username"
                class="form-control"
                (change)="checkUsername()"
                (input)="setFieldToInvalid('username')"
            />
            <div class="d-flex align-items-center">
                <!-- Error Message -->
                <small *ngIf="signUpForm.get('username')?.hasError('taken')" class="text-danger"> This username is already taken. </small>
                <!-- Loading Spinner -->
                <div *ngIf="isCheckingUsername" class="ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Email Field -->
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                id="email"
                type="email"
                placeholder="Enter your email"
                formControlName="email"
                class="form-control"
                (input)="setFieldToInvalid('email')"
                (change)="checkEmail()"
            />
            <div class="d-flex align-items-center">
                <!-- Error Message -->
                <small *ngIf="signUpForm.get('email')?.hasError('taken')" class="text-danger"> This email is already in use. </small>
                <!-- Loading Spinner -->
                <div *ngIf="isCheckingEmail" class="ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" placeholder="Enter your password" formControlName="password" class="form-control" />
            <small *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-danger">
                Password must be at least 6 characters long.
            </small>
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input id="confirmPassword" type="password" placeholder="Confirm your password" formControlName="confirmPassword" class="form-control" />
            <small *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched" class="text-danger">
                Confirm Password is required.
            </small>
        </div>

        <!-- Terms and Privacy -->
        <p class="form-text text-muted mb-3">
            By creating an account, you agree to the
            <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
        </p>

        <!-- Submit Button -->
        <div class="form-group position-relative">
            <button (click)="signUp()" type="submit" [disabled]="invalidFormStatus()" class="btn btn-primary w-100">Create a new account</button>
            <!-- Form Loading Spinner -->
            <div
                *ngIf="isLoading"
                class="spinner-border text-light position-absolute bottom-0 end-0"
                style="width: 1.5rem; height: 1.5rem"
                role="status"
            >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </form>

    <!-- Sign In Link -->
    <p class="text-center mt-3">Have an account? <a [routerLink]="'/login'">Login</a></p>

    <!-- Divider -->
    <hr />
    <p class="divider-text text-center">or</p>

    <!-- Google Sign up -->
    <button
        (click)="signUpWithGoogle()"
        [disabled]="isLoading"
        class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center"
    >
        <div class="d-flex align-items-center gap-2">
            <span class="iconify" data-icon="logos:google-icon" style="font-size: 20px"></span>
            <span>Sign up with Google</span>
        </div>
    </button>
</div>
