<div class="sign-up-container">
    <h2 class="text-center mb-4">Créer un compte</h2>

    <form [formGroup]="signUpForm">
        <!-- Username Field -->
        <div class="form-group mb-3">
            <label for="username" class="form-label">Pseudonyme</label>
            <input
                id="username"
                type="text"
                placeholder="Entrez votre pseudonyme"
                formControlName="username"
                class="form-control"
                (blur)="checkUsername()"
                (input)="onInputEvent('username')"
            />
            <div class="d-flex align-items-center">
                <!-- Error Message -->
                <small
                    *ngIf="
                        signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched && !signUpForm.get('username')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Pseudonyme est requis.
                </small>
                <small *ngIf="signUpForm.get('username')?.hasError('pattern') && signUpForm.get('username')?.touched" class="text-danger">
                    Le pseudonyme doit contenir entre 3 et 20 caractères et ne peut inclure que des lettres, des chiffres, des points, des underscores
                    ou des tirets.
                </small>

                <small
                    *ngIf="
                        !signUpForm.get('username')?.invalid &&
                        isUsernameTaken &&
                        !isCheckingUsername &&
                        !isTypingUsername &&
                        !signUpForm.get('username')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Ce pseudonyme est déjà utilisé.
                </small>

                <!-- Loading Spinner -->
                <div *ngIf="isCheckingUsername" class="ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Email Field -->
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                id="email"
                type="email"
                placeholder="Entrez votre email"
                formControlName="email"
                class="form-control"
                (blur)="checkEmail()"
                (input)="onInputEvent('email')"
            />
            <div class="d-flex align-items-center">
                <!-- Error Message -->
                <small
                    *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched && !signUpForm.get('email')?.hasError('pattern')"
                    class="text-danger"
                >
                    Email est requis.
                </small>
                <small *ngIf="signUpForm.get('email')?.hasError('pattern') && signUpForm.get('email')?.touched" class="text-danger">
                    Veuillez entrer une adresse email valide.
                </small>
                <small
                    *ngIf="
                        !signUpForm.get('email')?.invalid &&
                        isEmailTaken &&
                        !isCheckingEmail &&
                        !isTypingEmail &&
                        !signUpForm.get('email')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Cet email est déjà utilisé.
                </small>
                <!-- Loading Spinner -->
                <div *ngIf="isCheckingEmail" class="ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input
                (blur)="verifyPasswordMatch()"
                id="password"
                type="password"
                placeholder="Entez votre mot de passe"
                formControlName="password"
                class="form-control"
            />
            <small *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-danger">
                Le mot de passe doit contenir au moins 6 caractères.
            </small>
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group mb-3">
            <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
            <input
                id="confirmPassword"
                type="password"
                placeholder="Confirmez votre mot de passe"
                formControlName="confirmPassword"
                class="form-control"
                (blur)="verifyPasswordMatch()"
            />
            <small *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched" class="text-danger">
                La confirmation du mot de passe est requise.
            </small>
            <small
                *ngIf="!passwordsMatch && signUpForm.get('confirmPassword')?.touched && !signUpForm.get('confirmPassword')?.invalid"
                class="text-danger"
                >Les mots de passe ne correspondent pas.</small
            >
        </div>

        <!-- Submit Button -->
        <div class="form-group position-relative">
            <button (click)="signUp()" type="submit" [disabled]="invalidFormStatus()" class="btn btn-primary w-100">Créer un nouveau compte</button>
            <!-- Form Loading Spinner -->
            <div
                *ngIf="isLoading"
                class="spinner-border text-light position-absolute bottom-0 end-0"
                style="width: 1.5rem; height: 1.5rem"
                role="status"
            >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </form>

    <!-- Sign In Link -->
    <p class="text-center mt-3">Vous avez déjà un compte ? <a [routerLink]="'/login'">Se connecter</a></p>

    <!-- Divider -->
    <hr />
    <p class="divider-text text-center">ou</p>

    <!-- Google Sign up -->
    <button
        (click)="signUpWithGoogle()"
        [disabled]="isLoading"
        class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center"
    >
        <div class="d-flex align-items-center gap-2">
            <span class="iconify" data-icon="logos:google-icon" style="font-size: 20px"></span>
            <span>S'inscrire avec Google</span>
        </div>
    </button>
</div>
