.player-list-section {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    .player-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        height: 20%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: color-mix(in srgb, var(--tertiary-color) 20%, transparent);

        > * {
            height: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: color-mix(in srgb, var(--primary-color) 60%, transparent);
        }

        .select-container {
            position: relative;
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 20px;
            p {
                font-size: large;
                color: var(--text-color);
                align-self: center;
                text-align: center;
                margin: 0px;
                border-top-left-radius: 20px;
                width: 48%;
            }

            select {
                background-color: var(--primary-color);
                color: var(--text-color);
                border: 2px solid var(--tertiary-color);
                border-radius: 30px;
                padding: 5px;
                align-self: center;
                width: 48%;

                option {
                    background-color: var(--secondary-color);
                    color: var(--text-color);
                }

                option:hover {
                    background-color: var(--secondary-color);
                    color: var(--text-color);
                }
            }
        }

        .button-container {
            width: calc(20% - 5px);
        }

        .last {
            border-top-right-radius: 20px;
        }
    }
    .player-container {
        position: relative;
        width: calc(100% - 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(
            to right,
            color-mix(in srgb, var(--secondary-color) 50%, transparent),
            color-mix(in srgb, var(--primary-color) 50%, transparent),
            color-mix(in srgb, var(--secondary-color) 50%, transparent)
        );
        border-radius: 30px;
        padding: 0px 15px;
        min-height: 20%;
        box-shadow: 0px 0px 10px color-mix(in srgb, var(--tertiary-color) 80%, transparent);
        color: var(--text-color);
        .user-info {
            position: relative;
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 5%;
            color: var(--text-color);
            padding: 5px;
            .avatar {
                border-radius: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                background: var(--primary-color);
            }
        }

        > p {
            margin: 0px;
        }

        .player-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: bold;
            font-size: 1rem;
            color: var(--text-color); /* Ensures readability */
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}
.player-list {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-list::-webkit-scrollbar {
    width: 4px;
    height: 95%;
    z-index: 999;
    margin-top: 5px;
    margin-bottom: 5px;
}

.player-list::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.player-list::-webkit-scrollbar-track {
    background: color-mix(in srgb, var(--secondary-color) 50%, transparent);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.crossed {
    background: var(--primary-color) !important;
    color: var(--text-color) !important;
    text-decoration: line-through !important;
    text-decoration-color: var(--text-color) !important;

    .player-name {
        color: var(--text-color) !important;
        text-decoration: line-through !important;
        text-decoration-color: var(--text-color) !important;
    }
}

.custom-button-medium {
    position: relative;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 90%;
    aspect-ratio: 1 / 1;
    .button-icon::before {
        height: 100%;
        aspect-ratio: 1 / 1;
        text-align: center;
        color: var(--text-color);
    }
}
