<div class="player-list-section">
    <div class="player-list-header">
        <p>Trier par:</p>
        <select [(ngModel)]="sortId" (change)="onSortChange(sortId, 'asc')">
            <option *ngFor="let sort of sortsOptions" [ngValue]="sort.id">{{ sort.name }}</option>
        </select>
        <button mat-icon-button (click)="onSortChange(sortId, 'asc')">
            <i class="fa-sharp fa-solid fa-arrow-up button-icon"></i>
        </button>
        <button mat-icon-button (click)="onSortChange(sortId, 'desc')">
            <i class="fa-solid fa-arrow-down button-icon"></i>
        </button>
    </div>
    <div class="player-list">
        <div
            *ngFor="let player of playerList"
            class="player-info-section"
            [ngClass]="{
                crossed: !player.isInGame
            }"
            [ngStyle]="{ 'background-color': 'rgb(4, 199, 4)' }"
        >
            <p>{{ player.name }}</p>
            <p>{{ player.points }} points</p>
        </div>
    </div>
</div>
