<div class="player-list-section">
    <div class="player-list-header">
        <div class="select-container">
            <p>Trier par:</p>
            <select [(ngModel)]="sortId" (change)="onSortChange(sortId, 'asc')">
                <option *ngFor="let sort of sortsOptions" [ngValue]="sort.id">{{ sort.name }}</option>
            </select>
        </div>
        <div class="button-container second-to-last">
            <button class="custom-button-medium" (click)="onSortChange(sortId, 'asc')">
                <i class="fa-sharp fa-solid fa-arrow-up button-icon"></i>
            </button>
        </div>
        <div class="button-container last">
            <button class="custom-button-medium" (click)="onSortChange(sortId, 'desc')">
                <i class="fa-solid fa-arrow-down button-icon"></i>
            </button>
        </div>
    </div>
    <div class="player-list">
        <div class="player-container crossed">
            <div class="user-info">
                <app-avatar-banner class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
        <div class="player-container">
            <div class="user-info">
                <app-avatar-banner class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
        <div class="player-container">
            <div class="user-info">
                <app-avatar-banner class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
        <div class="player-container">
            <div class="user-info">
                <app-avatar-banner class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
        <div class="player-container">
            <div class="user-info">
                <app-avatar-banner class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
        <div class="player-container">
            <div class="user-info">
                <app-avatar-banner class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
        <div
            *ngFor="let player of playerList"
            class="player-info-section"
            [ngClass]="{
                crossed: !player.isInGame
            }"
        >
            <div class="user-info">
                <app-avatar-banner [avatarUrl]="" [bannerUrl]="" class="avatar"></app-avatar-banner>
            </div>
            <div class="player-name">Nom</div>

            <p>10 points</p>
        </div>
    </div>
</div>
