<app-header-game title="Administration"></app-header-game>
<div id="outerContainer">
    <div id="options" @backInLeft>
        <mat-icon id="settingsIcon">settings</mat-icon>
        <div class="buttons-section">
            <button class="custom-button custom-width btn" id="questionBankButton" (click)="navigate('/admin/questionBank')">
                Banque de questions
            </button>
            <button class="custom-button custom-width btn" id="createQuizButton" (click)="navigate('/admin/createQuiz')">Créer un jeu</button>
            <button class="custom-button custom-width btn" (click)="inputFile.click()">Importer un jeu</button>
            <input #inputFile type="file" accept="application/json" (change)="handleFileImport($event)" style="display: none" />
            <button class="custom-button custom-width btn" (click)="navigate('/admin/history')">Historique</button>
            <dialog #dialog>
                <form>
                    <div id="titleContainer">
                        <label for="title"> Un titre identique existe déjà. Veuillez entrez un titre différent pour votre nouveau jeu : </label>
                        <input id="title" type="text" [formControl]="title" />
                        <button id="submit" type="submit" (click)="onClickHandleTitle()" [disabled]="!isTitleUnique() || isTitleEmpty()">
                            Soumettre
                        </button>
                    </div>

                    <div *ngIf="!isTitleUnique()" class="warning">*Un jeu-questionnaire existant a déjà ce titre. SVP choisir un autre titre.</div>

                    <div *ngIf="isTitleEmpty()" class="warning">*Le titre ne doit pas être vide.</div>
                    <button id="quit" (click)="dialog.close()">Quitter</button>
                </form>
            </dialog>
        </div>
    </div>
    <div class="outerQuizContainer" @zoomIn>
        <h1>Jeux</h1>
        <div id="innerContainer">
            <div class="quizContainer" *ngFor="let quiz of quizzes; trackBy: trackByFn; let i = index" @bounceOut>
                <span id="quizInfo"> {{ quiz.title + ' modifié le : ' + (quiz.lastModification | date: 'yyyy-MM-dd HH:mm:ss') }} </span> <br />
                <button id="delete" mat-icon-button (click)="delete(quiz.id)" matTooltip="Supprimer">
                    <mat-icon [ngStyle]="{ color: 'white' }">delete</mat-icon>
                </button>
                <button id="download" mat-icon-button (click)="export(quiz)" matTooltip="Télécharger">
                    <mat-icon [ngStyle]="{ color: 'white' }">download</mat-icon>
                </button>
                <button id="edit" mat-icon-button (click)="goToEdit(quiz.id)" matTooltip="Modifier">
                    <mat-icon [ngStyle]="{ color: 'white' }">edit_square</mat-icon>
                </button>
                <button
                    class="visibility"
                    mat-icon-button
                    (click)="toggleVisibility(quiz.id)"
                    *ngIf="quiz.visibility; else notVisible"
                    matTooltip="Cacher le jeu dans la page de création de partie"
                >
                    <mat-icon [ngStyle]="{ color: 'white' }">visibility</mat-icon>
                </button>
                <ng-template #notVisible>
                    <button
                        class="visibility"
                        mat-icon-button
                        (click)="toggleVisibility(quiz.id)"
                        matTooltip="Afficher le jeu dans la page de création de partie"
                    >
                        <mat-icon [ngStyle]="{ color: 'white' }">visibility_off</mat-icon>
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
    <button id="logout" class="custom-button-cancel custom-width btn" (click)="logOut()" @backInRight>Déconnexion</button>
</div>
