<!-- User Menu -->
<aside class="main-aside">
    <div class="user-menu dropdown" [ngClass]="{ game: isOnGamePage }" *ngIf="user$ | async as user">
        <!-- User Avatar (Trigger) -->
        <div class="avatar-container dropdown">
            <!-- <img [src]="user.avatarEquipped" alt="User Avatar" class="avatar dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" /> -->
            <app-avatar-banner
                alt="User Avatar"
                class="avatar dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [avatarUrl]="user.avatarEquipped"
                [bannerUrl]="user.borderEquipped"
            ></app-avatar-banner>
            <span class="username">{{ user.username }}</span>
            <ul class="dropdown-menu">
                <!-- Dropdown Header -->
                <li class="dropdown-header text-center">
                    <img [src]="user.avatarEquipped" alt="User Avatar" class="dropdown-avatar mb-2" />
                    <div class="dropdown-info">
                        <strong>{{ user.username }}</strong>
                        <br />
                        <small class="text-muted">{{ user.email }}</small>
                    </div>
                </li>
                <hr class="dropdown-divider" />
                <li class="logout-container">
                    <a (click)="logout()">Déconnexion <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            </ul>
        </div>
        <div class="notification-container">
            <button class="notification-button">
                <i class="fa-solid fa-bell"></i>
            </button>
        </div>
    </div>

    <!--social menu -->
    <div class="social-menu">
        <span class="social-menu-title">SOCIAL</span>
        <div class="social-menu-content">
            <ul class="friend-menu">
                <li class="add-friend">
                    <button class="add-friend-button" (click)="toggleSearchInput()">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </li>
                <div *ngIf="showSearchInput" class="search-friend-overlay">
                    <div class="search-friend-content">
                        <div class="search-header">
                            <input
                                type="text"
                                [(ngModel)]="searchQuery"
                                (input)="onSearchInputChange($event)"
                                placeholder="Rechercher des utilisateurs"
                            />
                            <button class="close-search" (click)="toggleSearchInput()">
                                <i class="fa-solid fa-times"></i>
                            </button>
                        </div>
                        <div *ngIf="searchError" class="search-error">
                            {{ searchError }}
                        </div>
                        <div class="search-results" *ngIf="searchResults.length > 0">
                            <div *ngFor="let user of searchResults" class="search-result-item">
                                <app-avatar-banner
                                    [avatarUrl]="user.avatarEquipped"
                                    [bannerUrl]="user.borderEquipped"
                                    class="search-result-avatar"
                                ></app-avatar-banner>
                                <span class="username">{{ user.username }}</span>
                                <button class="send-request-btn" (click)="sendFriendRequest(user.id, user.username)">
                                    <i class="fa-solid fa-user-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="searchQuery && searchResults.length === 0" class="no-results">Aucun utilisateur trouvé</div>
                    </div>
                </div>
                <div *ngIf="showFriendRequests" class="friend-requests-overlay">
                    <div class="friend-requests-content">
                        <div class="friend-requests-header">
                            <h3>Demandes d'ami</h3>
                            <button class="close-requests" (click)="toggleFriendRequests()">
                                <i class="fa-solid fa-times"></i>
                            </button>
                        </div>
                        <div class="friend-requests-list">
                            <div *ngIf="friendRequests.length === 0" class="no-requests">Aucune demande d'ami</div>
                            <div *ngFor="let friend of friendRequests" class="friend-request-item">
                                <app-avatar-banner
                                    [avatarUrl]="friend.avatarEquipped"
                                    [bannerUrl]="friend.borderEquipped"
                                    class="friend-request-avatar"
                                ></app-avatar-banner>
                                <span>{{ friend.username }}</span>
                                <div class="friend-request-actions">
                                    <button class="accept-btn" (click)="acceptFriendRequest(friend.id)">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button class="decline-btn" (click)="declineFriendRequest(friend.id)">
                                        <i class="fa-solid fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="friend-list">
                    <button class="friend-list-button" (click)="toggleFriendList()">
                        <i class="fa-solid fa-users"></i>
                    </button>
                </li>
                <!-- Friend List Overlay -->
                <div *ngIf="showFriendList" class="friend-list-overlay">
                    <div class="friend-list-header">
                        <h3>Liste d'amis</h3>
                        <button class="close-button" (click)="toggleFriendList()">
                            <i class="fa-solid fa-times"></i>
                        </button>
                    </div>
                    <div class="friend-list-content">
                        <div *ngIf="friends.length === 0" class="no-friends">Vous n'avez pas encore d'amis</div>
                        <ul *ngIf="friends.length > 0" class="friends-list">
                            <li *ngFor="let friend of friends" class="friend-item">
                                <div class="friend-avatar-container">
                                    <app-avatar-banner
                                        [avatarUrl]="friend.avatarEquipped"
                                        [bannerUrl]="friend.borderEquipped"
                                        class="friend-list-avatar"
                                    ></app-avatar-banner>
                                    <div class="status-indicator" [ngClass]="{ online: friend.isOnline, offline: !friend.isOnline }"></div>
                                </div>
                                <div class="friend-info">
                                    <span class="friend-name">{{ friend.username }}</span>
                                    <span class="status-text" [ngClass]="{ online: friend.isOnline, offline: !friend.isOnline }">
                                        {{ friend.isOnline ? 'En ligne' : 'Hors ligne' }}
                                    </span>
                                </div>
                                <button class="remove-friend-button" [disabled]="!userUID" (click)="userUID && removeFriend(userUID, friend.id)">
                                    <i class="fa-solid fa-user-minus"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
            <div class="friend-request">
                <button class="friend-request-button" (click)="toggleFriendRequests()">
                    <li class="friend-request-icon">
                        <span>Demandes d'ami</span>
                    </li>
                    <li class="friend-request-number">
                        <span>{{ friendRequests.length || 0 }}</span>
                    </li>
                </button>
            </div>
        </div>
    </div>

    <!-- chat menu -->
    <div class="chat-menu">
        <span class="chat-menu-title">CLAVARDAGE</span>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a #tab1Link class="nav-link active" data-bs-toggle="tab" href="#tab1" title="Canal de discussion global" (click)="setActiveTab(1)">
                    <i class="fa-solid fa-globe"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="isOnGamePage">
                <a class="nav-link" data-bs-toggle="tab" href="#tab2" title="Clavardage de partie" (click)="setActiveTab(2)">
                    <i class="fa-solid fa-gamepad"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab3" title="Canal de discussion actuel" (click)="setActiveTab(3)">
                    <i class="fa-solid fa-comments"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab4" title="Mes canaux de discussion" (click)="setActiveTab(4)">
                    <i class="fa-solid fa-table-list"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab5" title="Créer un canal de discussion" (click)="setActiveTab(5)">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1">
                <h2>Canal de discussion global</h2>
                <div class="app-chat2">
                    <app-chat2
                        [chatMessagesLoading]="globalChatMessagesLoading"
                        [chatMessages]="globalChatMessages"
                        (sendMessageToRoom)="handleSendMessage($event)"
                        (loadOlderMessages)="loadOlderMessages()"
                    ></app-chat2>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" *ngIf="isOnGamePage">
                <h2>Clavardage de partie</h2>
                <div class="app-chat2">
                    <app-chat [parentAction]="getBoundHandleChildAction()"></app-chat>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <h2>Canal : {{ selectedChannel }}</h2>
                <ng-container *ngIf="selectedChannel; else noChannelSelected">
                    <app-chat2
                        [chatMessagesLoading]="selectedChannelMessagesLoading"
                        [chatMessages]="selectedChannelMessages"
                        (sendMessageToRoom)="handleSendMessageToChannel($event)"
                        (loadOlderMessages)="loadOlderMessages()"
                    ></app-chat2>
                </ng-container>
                <ng-template #noChannelSelected>
                    <p>Aucun canal sélectionné.</p>
                    <p>Veuillez sélectionner un canal de discussion.</p>
                </ng-template>
            </div>
            <div class="tab-pane fade" id="tab4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab4-1" title="Mes canaux de discussion"> Mes canaux </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab4-2" title="Canaux de discussion disponible"> Canaux à joindre </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab4-1">
                        <h2>Mes canaux de discussion</h2>
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un canal" class="search-input" />
                        <div class="channel-list">
                            <div *ngIf="filteredJoinedChannels().length === 0" class="no-channels-message">
                                <p>Vous n'avez rejoint aucun canal. Veuillez en rejoindre un.</p>
                            </div>
                            <div *ngFor="let channel of filteredJoinedChannels()" class="my-channels">
                                <div (click)="selectChannel(channel)">{{ channel }}</div>
                                <div class="channel-buttons">
                                    <button (click)="quitChannel(channel)" class="leave-channel-button">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </button>
                                    <button (click)="deleteChannel(channel)" class="delete-channel-button">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4-2">
                        <h2>Canaux de discussion disponibles</h2>
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un canal" class="search-input" />
                        <div class="channel-list">
                            <div *ngIf="filteredChannels().length === 0" class="no-channels-message">
                                <p>Aucun canal n'a été créé.</p>
                                <p>Veuillez en créer un pour commencer à discuter.</p>
                            </div>
                            <div *ngFor="let channel of filteredChannels()" class="join-channels">
                                <div (click)="selectChannel(channel.name)">{{ channel.name }}</div>
                                <button (click)="deleteChannel(channel.name)" class="delete-channel-button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab5">
                <h2>Créer un canal de discussion</h2>
                <div class="create-channel-form">
                    <form (submit)="createChannel()">
                        <input type="text" [(ngModel)]="newChannelName" name="newChannelName" placeholder="Nom du canal" required />
                        <button
                            [disabled]="this.newChannelName === ''"
                            [ngClass]="{ 'custom-button-disabled': this.newChannelName === '' }"
                            type="submit"
                            class="custom-button"
                        >
                            Créer
                        </button>
                    </form>
                    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
                </div>
            </div>
        </div>
    </div>
</aside>
