/* Menu Bar */
.main-aside {
    height: 100vh;
    width: 380px;
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #74d8ff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-bar-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu-logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00115a;
}

/* User Menu */
.user-menu {
    background: linear-gradient(to bottom, var(--nav-bg) 30%, color-mix(in srgb, var(--nav-bg), transparent 90%) 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    cursor: pointer;

    &.game {
        background: linear-gradient(
            to bottom,
            var(--secondary-color) 20%,
            color-mix(in srgb, var(--secondary-color), transparent 90%) 70%,
            transparent 95%
        ) !important;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: var(--tertiary-color);
    }
}

/* Avatar */

.avatar-container {
    display: flex;
    width: 60%;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-left: 10%;
    justify-content: space-between;
}

.username {
    color: var(--text-color);
    font-size: 1.5rem;
}

.avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.avatar.dropdown-toggle::after {
    content: none;
}

.avatar:hover {
    transform: scale(1.1);
}

.dropdown-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    transition: transform 0.2s ease;
}

.logout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

//notification button
.notification-container {
    padding: 20px;
    button {
        background: none;
        border: none;
    }
    i {
        color: var(--tertiary-color);
        font-size: 2rem;
    }
}

// Social menu
.social-menu {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--tertiary-color);
}

.social-menu-title {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    flex-grow: 1;
}

.social-menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

// friend menu list configuration
ul.friend-menu {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding-left: 15px;

    li {
        height: 100%;
        display: flex;
        position: relative;
        font-size: var(--navbar-font-size);
        justify-content: center;
        align-items: center;
        padding: 10px 10px; // Adds internal spacing
    }
}

// add friend configuration
.add-friend {
    .add-friend-button {
        background: none;
        border: none;
    }
    i {
        color: var(--tertiary-color);
        font-size: 1.3rem;
    }
}

// friend list configuration
.friend-list {
    .friend-list-button {
        background: none;
        border: none;
    }
    i {
        color: var(--tertiary-color);
        font-size: 1.3rem;
    }
}

//friend request configuration
div.friend-request {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    border: var(--tertiary-color) 1px solid;
    border-radius: 5%;

    .friend-request-button {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    li {
        height: 100%;
        display: flex;
        position: relative;
        font-size: var(--navbar-font-size);
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
    }
    span {
        color: var(--tertiary-color);
        font-size: 1.3rem;
        flex-grow: 1;
    }
    .friend-request-number {
        background-color: var(--tertiary-color);
        border-radius: 20%;
        margin-right: 20px;
        span {
            color: var(--primary-color);
            font-size: 1.3rem;
            font-weight: bold;
            flex-grow: 1;
        }
    }
}

//chat configuration
.chat-menu {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.chat-menu-title {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    flex-grow: 1;
}

img.my-channels-icon {
    width: 15px;
    height: 20px;
}

img.global-channels-icon {
    width: 15px;
    height: 20px;
}

#tab1 {
    color: var(--tertiary-color);
    font-style: italic;
}

//tab2 -Game Chat configuration
#tab2 {
    color: var(--tertiary-color);
    font-style: italic;
}

//tab3 -Current Chat configuration
#tab3 {
    color: var(--tertiary-color);
    font-style: italic;
}

//channel list configuration
#tab4-1 {
    color: var(--tertiary-color);
    font-style: italic;
    max-height: 450px; // Set the maximum height for the list
    overflow-y: auto; // Enable vertical scrolling
    input {
        width: 98%;
        border: 1px solid var(--tertiary-color);
        border-radius: 5px;
    }
}
#tab4-2 {
    color: var(--tertiary-color);
    font-style: italic;
    max-height: 450px; // Set the maximum height for the list
    overflow-y: auto; // Enable vertical scrolling
    input {
        width: 98%;
        border: 1px solid var(--tertiary-color);
        border-radius: 5px;
    }
}
.my-channels,
.join-channels {
    display: flex;
    visibility: visible;
    list-style: none;
    justify-content: space-between;
    color: var(--tertiary-color);
    padding: 10px; // Add some padding for better hover effect
    cursor: pointer; // Change cursor to pointer to indicate clickable items
    width: 100%;
    transition:
        background-color 0.3s,
        color 0.3s; // Smooth transition for hover effect
    box-sizing: border-box;

    &:hover {
        background-color: var(--secondary-color); // Change background color on hover
        color: var(--primary-color); // Change text color on hover
    }
}
.channel-list {
    list-style: none;
    color: var(--tertiary-color);
    width: 100%;
}

// Nested tabs container
.nested-tabs-container {
    display: flex;
    flex-direction: column;
}

.no-channels-message {
    p {
        padding-top: 15px;
        color: var(--tertiary-color);
    }
}
.delete-channel-button,
.leave-channel-button {
    background: none;
    border: none;
    color: var(--tertiary-color);
    font-size: 1rem;

    &:hover {
        color: var(--danger-color); // Change color on hover to indicate deletion
    }
}

#tab5 {
    color: var(--tertiary-color);
    font-style: italic;
    .create-channel-form {
        display: flex;
        flex-direction: column;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input {
        width: 98%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid var(--tertiary-color);
        border-radius: 5px;
    }
    button {
        background-color: var(--tertiary-color);
        color: var(--primary-color);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 50%;
    }
}
