<!-- User Menu -->
<aside class="main-aside">
    <div class="user-menu dropdown" *ngIf="user$ | async as user">
        <!-- User Avatar (Trigger) -->
        <div class="avatar-container dropdown">
            <!-- <img [src]="user.avatarEquipped" alt="User Avatar" class="avatar dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" /> -->
            <app-avatar-banner
                alt="User Avatar"
                class="avatar dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [avatarUrl]="user.avatarEquipped"
                [bannerUrl]="user.borderEquipped"
            ></app-avatar-banner>
            <span class="username">{{ user.username }}</span>
            <ul class="dropdown-menu">
                <!-- Dropdown Header -->
                <li class="dropdown-header text-center">
                    <img [src]="user.avatarEquipped" alt="User Avatar" class="dropdown-avatar mb-2" />
                    <div class="dropdown-info">
                        <strong>{{ user.username }}</strong>
                        <br />
                        <small class="text-muted">{{ user.email }}</small>
                    </div>
                </li>
                <hr class="dropdown-divider" />
                <li class="logout-container">
                    <a (click)="logout()">Déconnexion <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            </ul>
        </div>
        <div class="notification-container">
            <button class="notification-button">
                <i class="fa-solid fa-bell"></i>
            </button>
        </div>
    </div>

    <!--social menu -->
    <div class="social-menu">
        <span class="social-menu-title">SOCIAL</span>
        <div class="social-menu-content">
            <ul class="friend-menu">
                <li class="add-friend">
                    <button class="add-friend-button">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </li>
                <li class="friend-list">
                    <button class="friend-list-button">
                        <i class="fa-solid fa-users"></i>
                    </button>
                </li>
            </ul>
            <div class="friend-request">
                <button class="friend-request-button">
                    <li class="friend-request-icon">
                        <span>Demande d'ami</span>
                    </li>
                    <li class="friend-request-number">
                        <span>5</span>
                    </li>
                </button>
            </div>
        </div>
    </div>

    <!-- chat menu -->
    <div class="chat-menu">
        <span class="chat-menu-title">CLAVARDAGE</span>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab1" title="Canal de discussion global">
                    <i class="fa-solid fa-globe"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab2" title="Clavardage de partie">
                    <i class="fa-solid fa-gamepad"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab3" title="Canal de discussion actuel">
                    <i class="fa-solid fa-comments"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab4" title="Mes canaux de discussion">
                    <i class="fa-solid fa-table-list"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab5" title="Créer un canal de discussion">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1">
                <h2>Canal de discussion global</h2>
                <app-chat2
                    [chatMessagesLoading]="globalChatMessagesLoading"
                    [chatMessages]="globalChatMessages"
                    (sendMessageToRoom)="handleSendMessage($event)"
                    (loadOlderMessages)="loadOlderMessages()"
                ></app-chat2>
            </div>
            <div class="tab-pane fade" id="tab2">
                <h2>Clavardage de partie</h2>
                <ng-container>
                    <app-chat></app-chat>
                </ng-container>
                <ng-template #notInGame>
                    <p>Cette fonctionnalité est uniquement disponible lorsque vous êtes en jeu.</p>
                </ng-template>
            </div>
            <div class="tab-pane fade" id="tab3">
                <h2>Canal : {{ selectedChannel }}</h2>
                <ng-container *ngIf="selectedChannel; else noChannelSelected">
                    <app-chat2
                        [chatMessagesLoading]="selectedChannelMessagesLoading"
                        [chatMessages]="selectedChannelMessages"
                        (sendMessageToRoom)="handleSendMessageToChannel($event)"
                        (loadOlderMessages)="loadOlderMessages()"
                    ></app-chat2>
                </ng-container>
                <ng-template #noChannelSelected>
                    <p>Aucun canal sélectionné.</p>
                    <p>Veuillez sélectionner un canal de discussion.</p>
                </ng-template>
            </div>
            <div class="tab-pane fade" id="tab4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab4-1" title="Mes canaux de discussion"> vos canaux </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab4-2" title="Canaux de discussion disponible"> Canaux à joindre </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab4-1">
                        <h2>Mes canaux de discussion</h2>
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un canal" class="search-input" />
                        <div class="channel-list">
                            <div *ngFor="let channel of filteredJoinedChannels()" class="my-channels">
                                <div (click)="selectChannel(channel)">{{ channel }}</div>
                                <div class="channel-buttons">
                                    <button (click)="quitChannel(channel)" class="leave-channel-button">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </button>
                                    <button (click)="deleteChannel(channel)" class="delete-channel-button">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4-2">
                        <h2>Canaux de discussion disponible</h2>
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un canal" class="search-input" />
                        <div class="channel-list">
                            <div *ngFor="let channel of filteredChannels()" class="join-channels">
                                <div (click)="selectChannel(channel.name)">{{ channel.name }}</div>
                                <button (click)="deleteChannel(channel.name)" class="delete-channel-button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab5">
                <h2>Créer un canal de discussion</h2>
                <div class="create-channel-form">
                    <form (submit)="createChannel()">
                        <input type="text" [(ngModel)]="newChannelName" name="newChannelName" placeholder="Nom du canal" required />
                        <button type="submit">Créer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>
