.main-wrapper {
    position: relative;
    height: calc(100%);
    width: 100%;
}

.user:first-child,
.otherUser:first-child {
    margin-top: auto;
}

#previous-messages {
    position: relative;
    height: calc(75% - 40px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 5px var(--tertiary-color);
    overflow-y: auto;
}

.user {
    align-self: flex-end;
    // background: linear-gradient(to right, #47ae6c, #2ecc71);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px 15px 0 15px;
    // box-shadow: 0 6px 12px rgba(71, 174, 108, 0.5);
}

.otherUser {
    align-self: flex-start;
    // background: linear-gradient(to right, #4a69bb, #3b5998);
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px 15px 15px 0;
    // box-shadow: 0 6px 12px rgba(74, 105, 187, 0.5);
}

.user,
.otherUser {
    min-width: 50%;
    max-width: 70%;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    padding: 12px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}
.systemMessage {
    max-width: 100%;
    background: hsl(235, 26%, 42%);
    color: var(--primary-color);
    border-radius: 15px 15px 15px 15px;
    font-style: italic;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    padding: 16px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#chat-message-input-div {
    position: relative;
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    // background: linear-gradient(to right, #3498db, #2980b9);
    background: var(--nav-bg);
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 12px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px var(--tertiary-color);
}

span.error {
    margin-top: 5px;
    font-size: 16px;
    color: var(--text-color);
}

#myTextInput {
    height: 90%;
    min-width: 0;
    resize: none;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;

    &::-webkit-scrollbar {
        width: 6px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--active-bg);
        border-radius: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &::-webkit-scrollbar-track {
        background: var(--nav-bg);
        border-radius: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

#myTextInput:focus {
    background-color: var(--primary-color);
}

#send-button {
    margin-left: 15px;
    padding: 12px 25px;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    //background-color: var(--active-bg);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    //background-color: var(--hover-bg);
}

h2 {
    color: var(--primary-color);
    margin-right: 10px;
}

#chatBubble {
    color: var(--primary-color);
    font-size: 24px;
}

#chatBubble:hover {
    font-size: 26px;
    position: relative;
}

.info {
    display: flex;
}

#previous-messages::-webkit-scrollbar {
    width: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#previous-messages::-webkit-scrollbar-thumb {
    background: var(--active-bg);
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#previous-messages::-webkit-scrollbar-track {
    background: var(--nav-bg);
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.date-container {
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

div.time {
    font-size: 12px;
    color: var(--primary-color);
}

.spacer {
    height: 10px;
}

.loading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--tertiary-color);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
}

.loading-container .spinner-border {
    margin-bottom: 15px;
    color: var(--tertiary-color);
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .report-button {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            text-shadow: 0 0 3px var(--tertiary-color);
        }
    }
}

.chat-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    ::ng-deep {
        .avatar-banner-container {
            width: 30px;
            height: 30px;
            position: relative;
        }
        .avatar-img {
            width: 98%;
            height: 98%;
            border-radius: 50%;
        }
        .banner-img {
            width: 110%;
            height: 110%;
            top: -5%;
            left: -5%;
        }
        .banner-img-sidali {
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
        }
    }
}

.chat-username {
    font-weight: bold;
    font-size: 15px;
}

.report-button {
    height: 30px;
    width: 30px;
    text-align: center;
}
