<div class="info">
    <h2>{{ name }}</h2>
    <mat-icon id="chatBubble" color="white" title="clavardage">forum</mat-icon>
</div>

<!-- Chat Messages Container with Scroll Event -->
<div #previousMessages id="previous-messages" (scroll)="onScroll()">
    <!-- Loader when fetching messages -->
    <div *ngIf="chatMessagesLoading" class="loading-container">
        <div class="spinner-border text-primary" role="status"></div>
        <div>Chat is loading...</div>
    </div>

    <!-- Chat Messages -->
    <div
        *ngFor="let chatmessage of chatMessages"
        [ngClass]="{
            systemMessage: chatmessage.username === 'System',
            user: (user | async)?.username === chatmessage.username,
            otherUser: (user | async)?.username !== chatmessage.username
        }"
        class="chat-message user otherUser"
    >
        <div class="chat-header">
            <img [src]="chatmessage.avatar" alt="avatar" class="chat-avatar" />
            <span class="chat-username">{{ chatmessage.username }}</span>
        </div>
        <div class="message">{{ chatmessage.message }}</div>
        <div class="date-container">
            <div class="time">{{ getFormattedDate(chatmessage) | date: 'HH:mm:ss' }}</div>
        </div>
    </div>
</div>

<!-- Chat Input -->
<div id="chat-message-input-div">
    <textarea id="myTextInput" (keydown)="onKeyDown($event)" placeholder="Entrez votre message." [(ngModel)]="inputMessage"></textarea>
    <button type="button" id="send-button" (click)="handleSendMessage()">Envoyer</button>
</div>
