<div class="d-flex justify-content-center align-items-center">
    <div class="p-4">
        <h2 class="text-center mb-4">Réinitialisation du mot de passe</h2>
        <p class="text-center">
            Veuillez entrer l'adresse courriel que vous avez utilisée pour vous inscrire, et nous vous enverrons un lien pour réinitialiser votre mot
            de passe par courriel.
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <!-- Email Field -->
            <div class="form-group mb-3">
                <input
                    (input)="onInputEvent()"
                    (change)="checkEmail()"
                    (blur)="trimEmail()"
                    id="email"
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Entrez votre courriel"
                />

                <small
                    *ngIf="
                        forgotPasswordForm.get('email')?.invalid &&
                        forgotPasswordForm.get('email')?.touched &&
                        !forgotPasswordForm.get('email')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Une adresse courriel est requise.
                </small>
                <small *ngIf="forgotPasswordForm.get('email')?.hasError('pattern') && forgotPasswordForm.get('email')?.touched" class="text-danger">
                    Veuillez entrer une adresse courriel valide.
                </small>
                <small
                    *ngIf="
                        !isEmailAvailable &&
                        !isCheckingEmail &&
                        !isTypingEmail &&
                        !forgotPasswordForm.get('email')?.invalid &&
                        forgotPasswordForm.get('email')?.touched &&
                        !forgotPasswordForm.get('email')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Ce courriel n'est pas enregistré.
                </small>
                <!-- Loading Spinner -->
                <div *ngIf="isCheckingEmail" class="ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <button
                type="submit"
                class="w-100"
                [disabled]="forgotPasswordForm.invalid || isSubmitting || !isEmailAvailable || isCheckingEmail || isTypingEmail"
                [ngClass]="{
                    'custom-button-medium-disabled':
                        forgotPasswordForm.invalid || isSubmitting || !isEmailAvailable || isCheckingEmail || isTypingEmail,
                    'custom-button-medium': !(forgotPasswordForm.invalid || isSubmitting || !isEmailAvailable || isCheckingEmail || isTypingEmail)
                }"
            >
                {{ isSubmitting ? 'Envoi en cours...' : 'Réinitialiser mon mot de passe' }}
            </button>
        </form>
        <p class="text-center mt-3">
            <a [routerLink]="'/login'" class="text-decoration-none custom-button-cancel-medium">Retourner à la page de connexion</a>
        </p>
    </div>
</div>
