<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%">
        <h3 class="text-center mb-3">Réinitialisation du mot de passe</h3>
        <p class="text-center text-muted">
            Veuillez entrer l'adresse e-mail que vous avez utilisée pour vous inscrire, et nous vous enverrons un lien pour réinitialiser votre mot de
            passe par e-mail.
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <!-- Email Field -->
            <div class="form-group mb-3">
                <input
                    (input)="onInputEvent()"
                    (change)="checkEmail()"
                    id="email"
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Entez vore email"
                />

                <small
                    *ngIf="
                        forgotPasswordForm.get('email')?.invalid &&
                        forgotPasswordForm.get('email')?.touched &&
                        !forgotPasswordForm.get('email')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Email est requis.
                </small>
                <small *ngIf="forgotPasswordForm.get('email')?.hasError('pattern') && forgotPasswordForm.get('email')?.touched" class="text-danger">
                    Veuillez entrer une adresse email valide.
                </small>
                <small
                    *ngIf="
                        !isEmailAvailable &&
                        !isCheckingEmail &&
                        !isTypingEmail &&
                        !forgotPasswordForm.get('email')?.invalid &&
                        forgotPasswordForm.get('email')?.touched &&
                        !forgotPasswordForm.get('email')?.hasError('pattern')
                    "
                    class="text-danger"
                >
                    Cet email n'est pas enregistré.
                </small>
                <!-- Loading Spinner -->
                <div *ngIf="isCheckingEmail" class="ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="forgotPasswordForm.invalid || isSubmitting || !isEmailAvailable || isCheckingEmail || isTypingEmail"
            >
                {{ isSubmitting ? 'Envoi en cours...' : 'Réinitialiser mon mot de passe' }}
            </button>
        </form>
        <p class="text-center mt-3">
            <a [routerLink]="'/login'" class="text-decoration-none">Retourner à la page de connexion</a>
        </p>
    </div>
</div>
