<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="shop-section">
            <div class="section-title">Avatars</div>
            <div class="grid">
                <div *ngFor="let avatar of shop.avatars" class="square" (click)="submitBuy('avatar', avatar.link)">
                    <img [src]="avatar.link" alt="avatar" class="square-avatar" />
                    <div class="price">{{ avatar.price }}&nbsp;<i class="fa-solid fa-coins"></i></div>
                </div>
                <!-- Add more avatars -->
            </div>
            <p *ngIf="shop.avatars.length === 0">Vous detenez déjà tous les avatars de la boutique!</p>
        </div>
        <div class="shop-section">
            <div class="section-title">Bannière d'avatar</div>
            <div class="grid">
                <div *ngFor="let banner of shop.banners" class="square" (click)="submitBuy('banner', banner.link)">
                    <img [src]="banner.link" alt="avatar" class="square-banner" />
                    <div class="price">{{ banner.price }}&nbsp;<i class="fa-solid fa-coins"></i></div>
                </div>
                <!-- Add more borders -->
            </div>
            <p *ngIf="shop.banners.length === 0">Vous detenez déjà toutes les bannières d'avatar de la boutique!</p>
        </div>
        <div class="shop-section">
            <div class="section-title">Thèmes de couleur</div>
            <div class="grid">
                <div *ngFor="let theme of shop.themes" class="square theme" [attr.data-theme]="theme.link" (click)="submitBuy('theme', theme.link)">
                    <p>
                        {{ theme.link }}
                    </p>
                    <div class="price">{{ theme.price }}&nbsp;<i class="fa-solid fa-coins"></i></div>
                </div>
            </div>
            <p *ngIf="shop.themes.length === 0">Vous detenez déjà tous les thèmes de la boutique!</p>
        </div>
    </div>
</div>
