<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="daily-title">PRIX QUOTIDIEN</div>
        <div class="container" (mouseenter)="isMoved = true" (mouseleave)="isMoved = false">
            <div class="presentation-div-left" [ngClass]="{ 'move-to-side-left': isMoved }"></div>
            <div class="presentation-div-right" [ngClass]="{ 'move-to-side-right': isMoved }"></div>
            <div class="interaction-div" [ngClass]="{ show: isMoved }" [ngStyle]="{ 'border-radius': isMoved ? '0px' : '30px' }">
                <div class="interaction-div-content">
                    <div class="preview-items-wrapper">
                        <div class="preview-items" onWheel="this.scrollLeft+=event.deltaY>0?25:-25">
                            <ng-container *ngFor="let reward of dailyFreeContainer.rewards; let i = index; let last = last">
                                <div
                                    class="item"
                                    [ngClass]="{
                                        'very-rare': reward.rarity === rewardRarity.VeryRare,
                                        rare: reward.rarity === rewardRarity.Rare,
                                        common: reward.rarity === rewardRarity.Common
                                    }"
                                >
                                    <div *ngIf="reward.type === rewardType.Coins" class="item-img">{{ reward.value }}</div>
                                    <div class="item-chances">{{ reward.odds }}%</div>
                                </div>
                                <div *ngIf="!last" class="divider"></div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="section-divider"></div>
                    <div class="buy-zone-wrapper">
                        <button *ngIf="canClaim" (click)="openDailyFree()" class="custom-button-big">Reclamer le prix quotidien!</button>
                        <button *ngIf="!canClaim && availableIn !== 'Checking status'" class="custom-button-big-disabled">
                            Prix disponible dans {{ availableIn }}
                        </button>
                        <button *ngIf="!canClaim && availableIn === 'Checking status'" class="custom-button-big-disabled">
                            Prix disponible bientôt!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
