// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// ******************************
// Tutorial for themes
// primary-color:
// secondary-color:
// tertiary-color:
// nav-bg: header back ground
// text-color:
// hover-bg: for hovering header
// active-bg: for active header
[data-theme='dark'] {
    --primary-color: #000729;
    --secondary-color: #011b8e;
    --tertiary-color: #4263f8;
    --text-color: aliceblue;

    // Header colors
    --nav-bg: #1e1e2e;
    --hover-bg: rgba(235, 235, 244, 0.2);
    --active-bg: rgba(255, 255, 255, 0.4);
}

[data-theme='light'] {
    --primary-color: #6dceff;
    --secondary-color: #c1e9ff;
    --tertiary-color: #000729;
    --text-color: #101010;

    // Header colors
    --nav-bg: #ffffff;
    --hover-bg: rgba(0, 0, 0, 0.2);
    --active-bg: rgba(0, 0, 0, 0.4);
}

/* You can add global styles to this file, and also import other style files */

.custom-button {
    background-color: var(--primary-color);
    color: white;
    border: 3px solid var(--primary-color);

    &:hover {
        background-color: white;
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
    }
}

.custom-button-cancel {
    background-color: white;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
        color: white;
    }
}
