// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

:root {
    --navbar-font-size: 16px;
    --navbar-separator-size: 2px;
}

// Common Backdrop
.backdrop-dialog-common {
    width: 50%;
    aspect-ratio: 4/ 3;
    background: radial-gradient(circle, rgba(136, 136, 136, 0.7) 10%, rgba(111, 111, 111, 0) 50%);

    border-radius: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Rare Backdrop
.backdrop-dialog-rare {
    width: 50%;
    aspect-ratio: 4/ 3;
    background: radial-gradient(
        circle,
        rgba(0, 51, 153, 0.84) 10%,
        rgba(0, 102, 204, 0.482) 20%,
        rgba(0, 204, 255, 0.365) 30%,
        rgba(111, 111, 111, 0) 50%
    );

    border-radius: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Very Rare Backdrop
.backdrop-dialog-very-rare {
    width: 70%;
    aspect-ratio: 4/ 3;
    background: radial-gradient(
        circle,
        rgba(255, 204, 0, 0.737) 10%,
        rgba(255, 102, 255, 0.475) 20%,
        rgba(102, 0, 255, 0.308) 30%,
        rgba(111, 111, 111, 0) 50%
    );

    border-radius: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MatDialog Border radius.
.custom-container {
    border-radius: 30px !important;
    overflow: hidden;
    background: rgba(255, 255, 255, 0) !important;
}
// ******************************
// Tutorial for themes
// primary-color:
// secondary-color:
// tertiary-color:
// nav-bg: header back ground
// text-color:
// hover-bg: for hovering header
// active-bg: for active header
[data-theme='dark'] {
    --primary-color: #000729;
    --secondary-color: #71cdff;
    --tertiary-color: #ffffff;
    --text-color: aliceblue;

    // Header colors
    --nav-bg: #1e1e2e;
    --hover-bg: rgba(235, 235, 244, 0.2);
    --active-bg: rgba(255, 255, 255, 0.4);
}

[data-theme='sunset'] {
    --primary-color: #200071;
    --secondary-color: #fe65cb;
    --tertiary-color: #ff8c00;
    --text-color: rgb(254, 216, 255);

    // Header colors
    --nav-bg: #2b0070;
    --hover-bg: rgba(255, 0, 225, 0.2);
    --active-bg: rgba(255, 170, 0, 0.4);
}

[data-theme='light'] {
    --primary-color: #ffffff;
    --secondary-color: #71cdff;
    --tertiary-color: #000729;
    --text-color: #101010;

    // Header colors
    --nav-bg: #ffffff;
    --hover-bg: rgba(0, 0, 0, 0.2);
    --active-bg: rgba(0, 0, 0, 0.4);
}

/* You can add global styles to this file, and also import other style files */

/* BUTTONS IN GENERAL */

.custom-button {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 3px solid var(--tertiary-color);
    border-radius: 50px;
    transition: transform 0.2s ease-in-out;
    &:hover {
        background: linear-gradient(0deg, var(--secondary-color) 0%, var(--primary-color) 47.5%);
        cursor: pointer;
        border: 3px solid var(--secondary-color);
    }
}

.custom-button-cancel {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    text-align: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
    transition: transform 0.2s ease-in-out;
    &:hover {
        background: linear-gradient(0deg, var(--primary-color) 0%, var(--tertiary-color) 47.5%);
        cursor: pointer;
        border: 3px solid var(--primary-color);
    }
}

.custom-button-big {
    @extend .custom-button;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    height: 70px;
}

.custom-button-cancel-big {
    @extend .custom-button-cancel;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    height: 70px;
}

.custom-button-big-disabled {
    @extend .custom-button-big;
    cursor: not-allowed !important;
    opacity: 0.6;

    &:hover {
        background: var(--primary-color);
        background-color: var(--primary-color);
        color: var(--text-color);
        border: 3px solid var(--tertiary-color);
        box-shadow: none !important; /* Remove any hover shadows */
        filter: none !important; /* Remove brightness or other effects */
        transform: none !important; /* Disable animations */
    }
}

.custom-button-medium {
    @extend .custom-button;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    height: 50px;
}

.custom-button-cancel-medium {
    @extend .custom-button-cancel;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    height: 50px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* SECONDARY NAVBAR */
