<div class="content">
    <div class="header-distancer"></div>
    <app-secondary-header
        [buttonData]="[
            { nameofButton: 'Quiz existants', address: 'quizList', endCategory: true },
            { nameofButton: 'Créer un quiz', address: 'createQuiz', endCategory: true },
            { nameofButton: 'Banque de questions', address: 'questionBank', endCategory: true },
            { nameofButton: 'Historique', address: 'history', endCategory: false }
        ]"
    ></app-secondary-header>
    <router-outlet></router-outlet>
</div>
