<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="coin-history">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
            </svg>
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
            </svg>
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
            </svg>

            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
            </svg>
        </div>
        <div class="coin-animation-area">
            <!-- <div class="side-selection-container">
                <div class="pile">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
                    </svg>
                </div>
                <div class="face">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
                    </svg>
                </div>
            </div> -->
            <div class="coin-container">
                <div class="coin">
                    <svg class="heads" width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="gold" />
                    </svg>
                    <svg class="tails" width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="silver" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="place-bet-area">
            <div class="manual-input-area">
                <input type="number" min="1" step="1" placeholder="Placer votre mise" class="bet-input" />
                <button class="bet-button custom-button-medium">Parier</button>
            </div>
            <div class="automatic-input-area">
                <button class="custom-button-medium">+10</button>
                <button class="custom-button-medium">+25</button>
                <button class="custom-button-medium">+50</button>
            </div>
        </div>

        <div class="leaderboard-area">
            <div class="heads winner">
                <div class="side-title">Face</div>
                <div class="better-list">
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Ben</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Calisse</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                </div>
            </div>
            <div class="tails loser">
                <div class="side-title">Pile</div>
                <div class="better-list">
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                    <div class="better">
                        <div class="better-info">
                            <span class="emoji">🏆</span>
                            <span class="name">Alice</span>
                        </div>
                        <span class="amount">100</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
