<ng-container *ngIf="(showSpinner$ | async) === false; else loadingTemplate">
    <app-main-header *ngIf="this.authService.isAuthenticated() && !isLoginOrSignUp"></app-main-header>
    <app-side-bar *ngIf="this.authService.isAuthenticated() && !isLoginOrSignUp"></app-side-bar>
    <div class="main-content" [ngClass]="{ 'login-content': !this.authService.isAuthenticated() || isLoginOrSignUp }">
        <router-outlet></router-outlet>
    </div>
</ng-container>

<ng-template #loadingTemplate>
    <div class="loading-container">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Chargement...</p>
    </div>
</ng-template>
