.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 1.2rem;
    background-color: #00115a;
    color: white;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}
