<ng-container *ngIf="(showSpinner$ | async) === false; else loadingTemplate">
    <app-main-header></app-main-header>
    <aside class="main-aside">
        <app-side-bar></app-side-bar>
    </aside>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</ng-container>

<ng-template #loadingTemplate>
    <div class="loading-container">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Chargement...</p>
    </div>
</ng-template>
