.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 1.2rem;
    background-color: #00115a;
    color: white;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.main-aside {
    height: 100vh;
    width: 380px;
    background-color: #010a13bb;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.main-content {
    height: 100vh;
    width: calc(100vw - 380px);
    overflow-x: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    position: relative;
    z-index: 0;
    background-color: aqua;
}
