<div class="page-wrapper" *ngIf="!time; else gameCountDown">
    <app-header-game *ngIf="isOrganizer" [onLogoClick]="abandonAsOrganizer.bind(this)" [title]="'Vue d\'attente'"></app-header-game>
    <app-header-game *ngIf="!isOrganizer" [title]="'Vue d\'attente'"></app-header-game>
    <div id="header-separator"></div>
    <div class="main-wrapper">
        <div class="body-section">
            <img class="background-img" src="assets/pictures/waiting-page/background/background.gif" />
            <img class="background-img far" src="assets/pictures/waiting-page/background/far-clouds.png" />
            <img class="background-img mid" src="assets/pictures/waiting-page/background/mid-clouds.png" />
            <img class="background-img" src="assets/pictures/waiting-page/background/close-clouds.png" />
            <div *ngIf="isOrganizer" class="room-board-container">
                <img class="room-board" src="assets/pictures/waiting-page/background/wooden-board.png" />
                <p>{{ roomId }}</p>
            </div>
            <img *ngIf="players.length >= 1" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-1.png" />
            <img *ngIf="players.length >= 2" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-2.png" />
            <img *ngIf="players.length >= 3" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-3.png" />
            <img *ngIf="players.length >= 4" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-4.png" />
            <img *ngIf="players.length >= 5" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-5.png" />
            <img *ngIf="players.length >= 6" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-6.png" />
            <img *ngIf="players.length >= 7" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-7.png" />
            <img *ngIf="players.length >= 8" [@moveUp] [@moveDown] class="hibou" src="assets/pictures/waiting-page/owls/hibou-8.png" />
            <img class="background-img" src="assets/pictures/waiting-page/background/grass bed.png" />
            <div [ngClass]="{ 'game-view': !isOrganizer }" class="players-section">
                <div><p>Joueurs</p></div>
                <p *ngIf="players.length === 0 && isOrganizer">Invitez vos amis à rejoindre la partie !</p>
                <ul class="players-list">
                    <li
                        class="player-container"
                        *ngFor="let player of players.reverse()"
                        [@popIn]
                        [@popOut]
                        [ngStyle]="{
                            background:
                                player === name
                                    ? 'linear-gradient(to right, rgba(97, 249, 132, 0.87), rgba(97, 249, 132, 0.5), rgba(97, 249, 132, 0.87))'
                                    : 'linear-gradient(to right, rgba(167, 232, 255, 0.87), rgba(167, 232, 255, 0.5), rgba(167, 232, 255, 0.87))'
                        }"
                    >
                        {{ player }}
                        <button *ngIf="isOrganizer && player !== 'Organisateur'" (click)="banPlayer(player)" class="btn btn-danger btn-sm">
                            Exclure
                        </button>
                    </li>
                </ul>
            </div>
            <div class="intro-section">
                <div class="lock-section">
                    <i class="fa-solid" [ngClass]="{ 'fa-lock': gameLocked, 'fa-unlock': !gameLocked }"></i>
                    <button
                        *ngIf="isOrganizer"
                        (click)="toggleGameLock()"
                        class="btn btn-dark lock-btn"
                        title="Aucun joueur ne peut rejoindre la partie si elle est verrouillée"
                    >
                        {{ gameLocked ? 'Déverrouiller' : 'Verrouiller' }}
                    </button>
                </div>
                <p *ngIf="isOrganizer">
                    {{
                        gameLocked
                            ? players.length >= 1
                                ? 'Vous pouvez commencer!'
                                : 'Il vous faut au moins un joueur pour commencer la partie!'
                            : 'Il faut verrouiller la partie pour commencer!'
                    }}
                </p>
                <p *ngIf="!isOrganizer">Veuillez attendre que l'organisateur démarre la partie.</p>
                <p *ngIf="!isOrganizer && gameLocked">L'organisateur est prêt à démarrer la partie!</p>
                <button
                    *ngIf="isOrganizer"
                    [disabled]="players.length === 0 || !gameLocked"
                    (click)="startGame()"
                    class="btn btn-primary start-game-btn"
                >
                    Commencer la partie
                </button>
            </div>
            <button *ngIf="!isOrganizer" (click)="leaveWaitingPageAsPlayer()" class="btn btn-danger leave-btn">Quitter</button>
            <button *ngIf="isOrganizer" (click)="abandonAsOrganizer()" class="btn btn-danger leave-btn">Quitter</button>
        </div>
        <div id="chat-separator"></div>
    </div>
</div>
<ng-template #gameCountDown>
    <div class="page-wrapper-2">
        <app-header-game *ngIf="isOrganizer" [onLogoClick]="abandonAsOrganizer" [title]="'Vue d\'attente'"></app-header-game>
        <app-header-game *ngIf="!isOrganizer" [title]="'Vue d\'attente'"></app-header-game>
        <div id="header-separator"></div>
        <div class="animation-container">
            <img class="background-img-2 far" src="assets/pictures/waiting-page/background/background-2.png" />
            <img class="background-img-2 far" src="assets/pictures/waiting-page/background/far-clouds.png" />
            <img class="background-img-2 mid" src="assets/pictures/waiting-page/background/mid-clouds.png" />
            <img class="background-img-2" src="assets/pictures/waiting-page/background/close-clouds.png" />
            <div class="info-content">
                <h1>{{ gameTitle }}</h1>
                <h2>{{ time }}</h2>
            </div>
            <div [@moveUp] class="loading-owl">
                <img src="assets/pictures/waiting-page/loading-screen/eye-background.png" />
                <div class="eye">
                    <img class="left-eye" src="assets/pictures/waiting-page/loading-screen/left-eye.png" />
                    <img class="pupil" src="assets/pictures/waiting-page/loading-screen/left-pupil.png" />
                    <img class="mini-pupil" src="assets/pictures/waiting-page/loading-screen/left-mini-pupil.png" />
                </div>
                <div class="eye">
                    <img class="right-eye" src="assets/pictures/waiting-page/loading-screen/right-eye.png" />
                    <img class="pupil" src="assets/pictures/waiting-page/loading-screen/right-pupil.png" />
                    <img class="mini-pupil" src="assets/pictures/waiting-page/loading-screen/right-pupil-mini.png" />
                </div>
                <img src="assets/pictures/waiting-page/loading-screen/owl-body.png" />
            </div>
        </div>
    </div>
</ng-template>
