<div class="page-wrapper" *ngIf="!time; else gameCountDown">
    <div class="main-wrapper">
        <div class="body-section">
            <div *ngIf="isOrganizer" class="room-board-container">
                <p>{{ roomId }}</p>
            </div>
            <div [ngClass]="{ 'game-view': !isOrganizer }" class="players-section">
                <div class="content-title">Joueurs</div>
                <div class="players-list">
                    <p *ngIf="isPlayersListEmpty && players.length === 0 && isOrganizer">Invitez vos amis à rejoindre la partie !</p>
                    <li
                        class="player-container"
                        *ngFor="let player of players.reverse()"
                        [@popIn]
                        [@popOut]
                        (@popOut.done)="onPopOutDone()"
                        [ngClass]="{
                            me: player.name === name,
                            them: player.name !== name
                        }"
                    >
                        <div class="user-info">
                            <app-avatar-banner [avatarUrl]="player.avatar" [bannerUrl]="player.banner" class="avatar"></app-avatar-banner>
                            {{ player.name }}
                        </div>
                        <button *ngIf="isOrganizer && player.name !== 'Organisateur'" (click)="banPlayer(player.name)" class="custom-button">
                            Exclure
                        </button>
                    </li>
                </div>
            </div>
            <div class="intro-section">
                <div class="lock-section">
                    <button
                        *ngIf="isOrganizer"
                        (click)="toggleGameLock()"
                        class="custom-button-medium"
                        title="Aucun joueur ne peut rejoindre la partie si elle est verrouillée"
                    >
                        <i class="fa-solid" [ngClass]="{ 'fa-lock': gameLocked, 'fa-unlock': !gameLocked }"></i>
                    </button>
                </div>
                <p *ngIf="isOrganizer">
                    {{
                        gameLocked
                            ? players.length >= 1
                                ? 'Vous pouvez commencer!'
                                : 'Il vous faut au moins un joueur pour commencer la partie!'
                            : 'Il faut verrouiller la partie pour commencer!'
                    }}
                </p>
                <p *ngIf="!isOrganizer && !gameLocked">Veuillez attendre que l'organisateur démarre la partie.</p>
                <p *ngIf="!isOrganizer && gameLocked">L'organisateur est prêt à démarrer la partie!</p>
                <button
                    *ngIf="isOrganizer"
                    [disabled]="players.length === 0 || !gameLocked"
                    (click)="startGame()"
                    class="custom-button-big"
                    [ngClass]="{ 'custom-button-big-disabled': players.length === 0 || !gameLocked }"
                >
                    Commencer la partie
                </button>
            </div>
            <button *ngIf="!isOrganizer" (click)="leaveWaitingPageAsPlayer()" class="custom-button-medium abd">Quitter</button>
            <button *ngIf="isOrganizer" (click)="abandonAsOrganizer()" class="custom-button-medium abd">Quitter</button>
        </div>
    </div>
</div>
<ng-template #gameCountDown>
    <div class="animation-big-container">
        <div class="animation-container">
            <div class="info-content">
                <h1 class="content-title">{{ gameTitle }}</h1>
                <h2>{{ time }}</h2>
            </div>
            <div [@moveUp] class="loading-owl">
                <img src="assets/pictures/waiting-page/loading-screen/eye-background.png" />
                <div class="eye">
                    <img class="left-eye" src="assets/pictures/waiting-page/loading-screen/left-eye.png" />
                    <img class="pupil" src="assets/pictures/waiting-page/loading-screen/left-pupil.png" />
                    <img class="mini-pupil" src="assets/pictures/waiting-page/loading-screen/left-mini-pupil.png" />
                </div>
                <div class="eye">
                    <img class="right-eye" src="assets/pictures/waiting-page/loading-screen/right-eye.png" />
                    <img class="pupil" src="assets/pictures/waiting-page/loading-screen/right-pupil.png" />
                    <img class="mini-pupil" src="assets/pictures/waiting-page/loading-screen/right-pupil-mini.png" />
                </div>
                <img src="assets/pictures/waiting-page/loading-screen/owl-body.png" />
            </div>
        </div>
    </div>
</ng-template>
