<div class="publishedPoll-page-container">
    <div class="publishedPoll-page-content">
        <div class="past-polls-container">
            <div *ngFor="let publishedPoll of publishedPolls"class="past-publishedPoll" [ngClass]="{ active: publishedPoll === currentPoll }">
                <div class="publishedPoll-info">
                    <div class="title">{{ publishedPoll.title }}</div>
                    <div class="date">Date fin :&nbsp;{{ publishedPoll.endDate }}</div>
                </div>
                <button *ngIf="publishedPoll !== currentPoll" class="custom-button-medium" (click)="show(publishedPoll)">Consulter</button>
            </div>
        </div>
        <div class="publishedPoll-big-container">
            <div *ngIf="currentPoll" class="publishedPoll-container">
                <div class="publishedPoll-info">
                    <div class="title">
                        <div class="title-content">{{ currentPoll.title }}</div>
                        <div class="date">Date fin :&nbsp;{{ currentPoll.endDate }}</div>
                    </div>
                    <div class="description">
                        {{ currentPoll.description }}
                    </div>
                </div>
                <div class="question-container">
                    <button
                        (disabled)="(currentQuestionIndex === 0)"
                        class="custom-button-medium"
                        [ngClass]="{
                            'custom-button-medium-disabled': currentQuestionIndex === 0
                        }"
                        (click)="previousQuestion()"
                    >
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="question-content">
                        <div class="question-title">
                            <div class="question-title-content">{{ currentQuestion?.text }}</div>
                            <div class="divider"></div>
                        </div>
                        <div class="pie-chart">
                            <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [type]="pieChartType"> </canvas>
                        </div>
                        <!-- <div class="legend two-choices">
                            <div>Choix</div>
                            <div>Choix</div>
                        </div> -->

                        <!-- <div class="legend three-choices">
                            <div>Choix</div>
                            <div>Choix</div>
                            <div>Choix</div>
                        </div> -->

                        <div
                            class="legend four-choices"
                            [ngClass]="{
                                'two-choices': currentQuestion?.choices?.length === 2,
                                'three-choices': currentQuestion?.choices?.length === 3,
                                'four-choices': currentQuestion?.choices?.length === 4
                            }"
                        >
                            <div
                                *ngFor="let choice of currentQuestion?.choices; let index = index"
                                [style.background-color]="backgroundColors[index]"
                            >
                                {{ choice.text }}
                            </div>
                        </div>
                    </div>
                    <button
                        (disabled)="(currentQuestionIndex === currentPoll.questions.length - 1)"
                        class="custom-button-medium"
                        [ngClass]="{
                            'custom-button-medium-disabled': currentQuestionIndex === currentPoll.questions.length - 1
                        }"
                        (click)="nextQuestion()"
                    >
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>

            <div *ngIf="!currentPoll" class="publishedPoll-container">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; text-align: center">
                    Aucun sondage sélectionné
                </div>
            </div>
        </div>
    </div>
</div>
