.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat-separator {
    height: 100%;
    width: 3px;
    background-color: #ffffff;
}

#header-separator {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

#main-container {
    display: flex;
    flex-grow: 1;
}

#question-container {
    height: 100%;
    width: calc(80% - 3px);
    background: linear-gradient(to bottom, #00115a, #004080);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-separator {
    height: 100%;
    width: 3px;
    background-color: #ffffff;
}

#header-separator {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

#current-question {
    background-color: rgb(202, 221, 240);
    height: 100%;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-info {
    position: relative;
    background: linear-gradient(to right, #4a69bb, #3b5998);
    width: 65%;
    padding: 20px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

#question-info:hover {
    transform: scale(1.01);
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2);
}

#question-text {
    position: relative;
    background-color: #2c3e50;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

#question-text p::-webkit-scrollbar {
    width: 5px;
}

#question-text p::-webkit-scrollbar-track {
    background-color: transparent;
}

#question-text p::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 15px;
}

#question-text p {
    position: relative;
    background-color: #34495e;
    max-width: 75%;
    max-height: 80%;
    font-size: 20px;
    color: #ecf0f1;
    padding: 15px;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    text-overflow: ellipsis;
    font-size: medium;
}

#question-additional-info {
    background-color: #2c3e50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
}

#question-number,
#question-points {
    background-color: #34495e;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    color: #ecf0f1;
}

#timer,
#user-points {
    position: absolute;
    height: 100px;
    width: 9%;
    padding: 5px;
    background: linear-gradient(to top, #3498db, #2980b9);
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

#timer:hover,
#user-points:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#timer strong,
#user-points strong {
    position: relative;
    font-size: 20px;
}

#user-points {
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 15px;
}

#abandon-button {
    position: absolute;
    height: 50px;
    width: 100px;
    bottom: 50px;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    align-self: flex-end;
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition:
        background 1s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

#abandon-button:hover {
    background: linear-gradient(to bottom, rgb(145, 0, 0), red);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#filler {
    height: 5%;
}

#character-limit {
    color: #ffffff;
}

#answer-section {
    position: relative;
    background-color: rgba(0, 63, 125, 0.797);
    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.406);
    border-radius: 15px;
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease;
}

#multiple-choice-section {
    display: grid;
    width: 100%;
    height: 70%;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px;
}

#submit-choice-button {
    margin-top: 20px;
    width: 50%;
    height: 20%;
    min-height: 50px;
    max-height: 60px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submit-choice-button:hover {
    background-color: #27ae60;
}

#question-answer-input {
    width: 100%;
    height: 150px;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #3498db;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    resize: none;
}

.multiple-choice {
    background-color: #7bc8fb;
    color: rgb(3, 42, 86);
    padding: 15px;
    display: flex;
    margin: 5px;
    height: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease;
}

.multiple-choice:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.multiple-choice.start {
    background-color: #7bc8fb;
}
#multiple-choice-section .multiple-choice.clicked {
    background-color: rgb(247, 211, 92);
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chat-container {
    width: 25%;
    background: linear-gradient(to bottom, #00115a, #004080);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.correct-choice {
    background: #4dff67;
    font-weight: 500;
    color: #00115a;
}

.incorrect-choice {
    background: #f04e64;
    font-weight: 500;
    color: #00115a;
}

#submit-choice-button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
