<div *ngIf="quizReady" class="gameContainer">
    <div id="main-container">
        <div id="question-container">
            <div id="current-question">
                <div id="question-info">
                    <div id="game-additional-info">
                        <div *ngIf="time" id="timer">
                            Temps Restant
                            <strong *ngIf="!waitingForQuestion">&nbsp;{{ time }}</strong>
                            <div *ngIf="gamePaused">&nbsp;PAUSE</div>
                        </div>
                        <div *ngIf="!time" id="timer">
                            Temps&nbsp;
                            <strong>ECOULÉ</strong>
                        </div>
                        <div id="user-points">
                            Mes Points&nbsp;
                            <strong>{{ playerPoints }}</strong>
                        </div>
                    </div>
                    <div id="question-text">
                        <div *ngIf="waitingForQuestion" class="question-text-content">
                            La prochaine question commence dans {{ time }} seconde{{ time === 0 ? '.' : 's.' }}
                        </div>
                        <div class="question-text-content" *ngIf="!waitingForQuestion">
                            {{ this.currentQuestion.text }}
                        </div>

                        <img *ngIf="!waitingForQuestion && currentQuestion.image" [src]="currentQuestion.image" alt="Question Image" />
                    </div>
                    <div id="question-additional-info">
                        <div id="question-number">Question # {{ currentIndex + 1 }}</div>
                        <div id="question-points">{{ currentQuestion.points }} pts</div>
                    </div>
                </div>
                <div id="answer-section">
                    <p id="character-limit" *ngIf="currentQuestion.type === 'QRL' && !submitted">
                        Caractères restants : {{ MAX_CHARACTERS - answer.length }}
                    </p>
                    <p *ngIf="currentQuestion.type === 'QCM' && choiceFeedback === 'first'" style="color: white">
                        Félicitations, vous êtes le premier à avoir bien répondu! Un bonus de point de 20% vous est accordé
                    </p>
                    <p *ngIf="currentQuestion.type === 'QRE' && choiceFeedback === 'exact'" style="color: white">
                        Félicitations, c'était la réponse exacte! Un bonus de point de 20% vous est accordé
                    </p>
                    <p *ngIf="choiceFeedback === 'correct' && submitted" style="color: white">
                        Bonne réponse{{ currentQuestion.type === 'QCM' ? ', mais pas la première!' : '!' }} Tous les points sont accordés.
                    </p>
                    <p *ngIf="choiceFeedback === 'correct' && !submitted" style="color: white">
                        L'organisateur vous a donné tous les points malgré que vous avez oublié de soumettre votre réponse. Wow. Favoritisme.
                    </p>
                    <p *ngIf="choiceFeedback === 'awaiting'" style="color: white">En attente des soumissions des autres joueurs.</p>
                    <p *ngIf="choiceFeedback === 'idle'" style="color: white">
                        En attente de votre soumission de {{ currentQuestion.type === 'QCM' ? 'sélection de choix.' : 'réponse.' }}
                    </p>
                    <p *ngIf="choiceFeedback === 'awaitingCorrection' && submitted" style="color: white">
                        Nous attendons la correction de l'organisateur...
                    </p>
                    <p *ngIf="choiceFeedback === 'awaitingCorrection' && !submitted" style="color: white">
                        L'organisateur n'a pas reçu votre réponse car vous ne l'avez pas soumise.
                    </p>
                    <p *ngIf="choiceFeedback === 'incorrect' && submitted" style="color: white">Mauvaise réponse, aucun point accordé.</p>
                    <p *ngIf="choiceFeedback === 'incorrect' && !submitted && currentQuestion.type !== 'QRL'" style="color: white">
                        Vous devez soumettre votre réponse pour qu'elle soit corrigée. Vous ne recevrez pas de points.
                    </p>
                    <p *ngIf="choiceFeedback === 'incorrect' && !submitted && currentQuestion.type === 'QRL'" style="color: white">
                        L'organisateur n'a pas osé donner des points pour votre soumission non-existante.
                    </p>
                    <p *ngIf="choiceFeedback === 'partial' && currentQuestion.type === 'QRL' && submitted" style="color: white">
                        Pas tout à fait! L'organisateur vous a accordé des points partiels.
                    </p>
                    <p *ngIf="choiceFeedback === 'partial' && currentQuestion.type === 'QRL' && !submitted" style="color: white">
                        L'organisateur vous a offert des points par pitié même si vous avez oublié de soumettre.
                    </p>
                    <div *ngIf="currentQuestion.type === 'QCM'" id="multiple-choice-section">
                        <div
                            *ngFor="let choice of currentQuestion.choices; let choiceIndex = index"
                            (click)="selectChoice(choiceIndex)"
                            [class.clicked]="choiceSelected[choiceIndex]"
                            [ngClass]="this.showAnswers ? (choice.isCorrect ? 'correct-choice' : 'incorrect-choice') : 'hide-choice-truth'"
                            class="multiple-choice"
                        >
                            Choix {{ choiceIndex + 1 }}: {{ choice.text }}
                        </div>
                    </div>
                    <textarea
                        *ngIf="currentQuestion.type === 'QRL'"
                        id="question-answer-input"
                        [(ngModel)]="answer"
                        maxlength="{{ MAX_CHARACTERS }}"
                        [disabled]="submitted || this.showAnswers || choiceFeedback === 'incorrect' || choiceFeedback === 'awaitingCorrection'"
                    ></textarea>

                    <div *ngIf="currentQuestion.type === 'QRE'" id="range-selection-section">
                        <label *ngIf="!showAnswers && currentQuestion.qreAttributes" for="range-input" class="range-label">
                            Sélectionnez une valeur entre {{ currentQuestion.qreAttributes.minBound }} et {{ currentQuestion.qreAttributes.maxBound }}
                        </label>

                        <span *ngIf="showAnswers && currentQuestion.qreAttributes" for="range-input" class="correct-answer">
                            Réponse exacte:&nbsp;<strong>{{ currentQuestion.qreAttributes.goodAnswer }}</strong>
                        </span>
                        <div class="range-container">
                            <output id="range-value">{{ qreAnswer }}</output>
                            <input
                                *ngIf="currentQuestion.qreAttributes"
                                type="range"
                                id="range-input"
                                [min]="currentQuestion.qreAttributes.minBound"
                                [max]="currentQuestion.qreAttributes.maxBound"
                                [(ngModel)]="qreAnswer"
                                [disabled]="submitted || this.showAnswers"
                            />
                        </div>
                        <div id="range-values" *ngIf="currentQuestion.qreAttributes">
                            <span class="range-info"
                                >Borne minimale:&nbsp;<strong>{{ currentQuestion.qreAttributes.minBound }}</strong></span
                            >
                            <span class="range-info"
                                >Marge de tolérance:&nbsp;<strong>±{{ currentQuestion.qreAttributes.tolerance }}</strong></span
                            >
                            <span class="range-info"
                                >Borne maximale:&nbsp;<strong>{{ currentQuestion.qreAttributes.maxBound }}</strong></span
                            >
                        </div>
                    </div>

                    <button
                        [disabled]="submitted || this.showAnswers || choiceFeedback === 'incorrect' || choiceFeedback === 'awaitingCorrection'"
                        id="submit-choice-button"
                        [ngClass]="{
                            'custom-button-big': !submitted,
                            'custom-button-big-disabled':
                                submitted || this.showAnswers || choiceFeedback === 'incorrect' || choiceFeedback === 'awaitingCorrection'
                        }"
                        (click)="finalizeAnswer()"
                    >
                        Soumettre
                    </button>
                </div>
                <button class="custom-button-medium" id="abandon-button" (click)="abandonGame()">Abandonner</button>
            </div>
        </div>
    </div>
</div>
